<div style="margin:0px;padding:0px;border:0px;background-image:url('<!--server-->templates/invitations/<!--template-->/background.png');background-repeat:no-repeat;background-position:center left;width:350px;height:200px;"></div>
<div style="width:40px;position:absolute;left:305px;top:23px;cursor:pointer;"
     onclick="top.lz_tracking_close_request();top.lz_tracking_action_result('chat_request',false,true);return false;">
    &nbsp;</div>
<img style="position:absolute;left:25px;top:30px;" alt="<!--intern_name-->" src="<!--server--><!--intern_image-->"
     border="0">
<div style="width:185px;height:100px;position:absolute;left:118px;top:30px;font-family:verdana,arial;font-size:12px;color:black;line-height:14px;text-align:left;">
    <!--invitation_text--></div>
<div onclick="lz_request_window.lz_livebox_chat('<!--user_id-->','<!--group_id-->');top.lz_tracking_action_result('chat_request',true,<!--close_on_click-->);"
     style="padding:0px;text-align:center;width:150px;position:absolute;left:175px;top:145px;height:38px;cursor:pointer;font-family:verdana,arial;font-size:14px;color:#FFFFFF;line-height:38px;">
    <!--lang_client_start_chat--></div>