<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META NAME="robots" CONTENT="noindex,follow">
    <title><!--config_gl_site_name--></title>
    <link rel="stylesheet" type="text/css" href="<!--server-->templates/style_chat.css">
    <!--post_chat_html-->
</head>
<body>
<div id="lz_chat_navigation" style="height:30px;display:block;">
    <table id="lz_chat_navigation_table" width="100%" height="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td width="10"></td>
            <td>
                <table cellspacing="0">
                    <tr>
                        <td id="lz_chat_site_title">&nbsp;&nbsp;<!--config_gl_site_name--></td>
                        <td align="left" valign="middle"></td>
                    </tr>
                </table>
            </td>
            <td align="right">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td><img class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_close();"
                                 src="./images/button_back.gif" border="0" title="<!--lang_client_goto_login-->"
                                 onmouseover="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_goto_login-->';"
                                 onmouseout="document.getElementById('lz_chat_site_title').innerHTML='<!--config_gl_site_name-->';"
                                 alt="<!--lang_client_goto_login-->"></td>
                        <td id="lz_cf_sm" style="display:none;"><input id="lz_cf_value_sm" type="hidden"
                                                                       value="<!--SM_HIDDEN-->"><img
                                    class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_switch_emoticons();"
                                    id="lz_chat_smiley_button" src="./images/button_smiley.gif" border="0"
                                    title="<!--lang_client_insert_smiley-->"
                                    onmouseover="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_insert_smiley-->';"
                                    onmouseout="document.getElementById('lz_chat_site_title').innerHTML='<!--config_gl_site_name-->';"
                                    alt="<!--lang_client_insert_smiley-->"></td>
                        <td id="lz_cf_tr" style="display:none;"><input id="lz_cf_value_tr" type="hidden"
                                                                       value="<!--TR_HIDDEN-->"><img
                                    class="lz_chat_clickable_image"
                                    onclick="parent.parent.lz_chat_switch_auto_translate();"
                                    src="./images/button_translate.gif" border="0" title=""
                                    onmouseover="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_use_auto_translation_service_short-->';"
                                    onmouseout="document.getElementById('lz_chat_site_title').innerHTML='<!--config_gl_site_name-->';"
                                    alt="<!--lang_client_use_auto_translation_service_short-->"></td>
                        <td id="lz_cf_pr" style="display:none;"><input id="lz_cf_value_pr" type="hidden"
                                                                       value="<!--PR_HIDDEN-->"><img
                                    class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_print();"
                                    id="lz_chat_print_button" src="./images/button_print.gif" border="0"
                                    title="<!--lang_client_print-->"
                                    onmouseover="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_print-->';"
                                    onmouseout="document.getElementById('lz_chat_site_title').innerHTML='<!--config_gl_site_name-->';"
                                    alt="<!--lang_client_print-->"></td>
                        <td id="lz_cf_fu" style="display:none;"><input id="lz_cf_value_fu" type="hidden"
                                                                       value="<!--FU_HIDDEN-->"><img
                                    class="lz_chat_clickable_image"
                                    onclick="parent.parent.lz_chat_switch_file_upload();" src="./images/button_file.gif"
                                    border="0" title="<!--lang_client_send_file-->"
                                    onmouseover="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_send_file-->';"
                                    onmouseout="document.getElementById('lz_chat_site_title').innerHTML='<!--config_gl_site_name-->';"
                                    alt="<!--lang_client_send_file-->"></td>
                        <td id="lz_cf_so" style="display:none;"><input id="lz_cf_value_so" type="hidden"
                                                                       value="<!--SO_HIDDEN-->"><img
                                    class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_switch_sound();"
                                    id="lz_chat_sound_button" src="./images/button_s1.gif" border="0"
                                    onmouseover="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_switch_sounds-->';"
                                    onmouseout="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_goto_login-->';"
                                    title="<!--lang_client_switch_sounds-->" alt="<!--lang_client_switch_sounds-->">
                        </td>
                        <td id="lz_cf_et" style="display:none;"><input id="lz_cf_value_et" type="hidden"
                                                                       value="<!--ET_HIDDEN-->"><img
                                    class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_switch_transcript();"
                                    src="./images/button_mail.gif" border="0" title=""
                                    onmouseover="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_request_chat_transcript_short-->';"
                                    onmouseout="document.getElementById('lz_chat_site_title').innerHTML='<!--config_gl_site_name-->';"
                                    alt="<!--lang_client_request_chat_transcript_short-->"></td>
                        <td id="lz_cf_ra" style="display:none;"><input id="lz_cf_value_ra" type="hidden"
                                                                       value="<!--RA_HIDDEN-->"><img
                                    class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_switch_feedback();"
                                    src="./images/button_rate.gif" border="0"
                                    title="<!--lang_client_rate_representative-->"
                                    onmouseover="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_rate_representative-->';"
                                    onmouseout="document.getElementById('lz_chat_site_title').innerHTML='<!--config_gl_site_name-->';"
                                    alt="<!--lang_client_rate_representative-->"></td>
                        <td></td>
                        <td><img class="lz_chat_clickable_image" onclick="parent.parent.close();"
                                 src="./images/button_close.gif" border="0" title="<!--lang_client_close_window-->"
                                 onmouseover="document.getElementById('lz_chat_site_title').innerHTML='<!--lang_client_close_window-->';"
                                 onmouseout="document.getElementById('lz_chat_site_title').innerHTML='<!--config_gl_site_name-->';"
                                 alt="<!--lang_client_close_window-->"></td>
                        <td width="10"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
