<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META NAME="robots" CONTENT="noindex,follow">
    <title><!--config_gl_site_name--> - Live Chat Operator</title>
    <link rel="stylesheet" type="text/css" href="./templates/style_chat.css">
</head>
<body>
<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>
            <div id="lz_chat_logo"><!--logo--></div>
        </td>
        <td></td>
    </tr>
</table>
<div id="lz_chat_representative">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td width="11" height="89"></td>
            <td height="89" valign="middle">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td valign="top">
                            <table cellpadding="0" cellspacing="0" height="63">
                                <tr>
                                    <td width="2" rowspan="3"></td>
                                    <td valign="top" width="130" colspan="2" height="10">
                                        <div id="lz_chat_internal_fullname"></div>
                                    </td>
                                    <td width="7" rowspan="3"></td>
                                </tr>
                                <tr>
                                    <td valign="top" colspan="2">
                                        <div id="lz_chat_internal_groupname"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="bottom">
                                        <table cellpadding="0" cellspacing="0" id="lz_chat_vcard_box">
                                            <tr>
                                                <td width="17" height="15"><a id="lz_chat_vcard_image"
                                                                              target="_blank"><img
                                                                src="./images/icon_vcard.gif"
                                                                title="<!--lang_client_save_visitcard-->" border="0"
                                                                alt=""></a></td>
                                                <td><a id="lz_chat_vcard_text"
                                                       title="<!--lang_client_save_visitcard-->"><span
                                                                class="lz_chat_internal_file_link"><!--lang_client_vcard--></span></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="bottom" align="right"></td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top" width="86" align="left">
                            <div id="lz_chat_pic"><img id="lz_chat_intern_image" border="0" src="./images/nopic.jpg"
                                                       alt=""></div>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="11" height="89"></td>
        </tr>
    </table>

</div>
<div id="lz_chat_top_bg"><!--background--></div>
</body>
</html>
