<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--html-->
<head>
    <META NAME="robots" CONTENT="index,follow">
    <title>LiveZilla Live Chat Software</title>
    <link rel="stylesheet" type="text/css" href="<!--server-->templates/style_chat.css">
</head>
<body topmargin="0" leftmargin="0">
<div id="lz_chat_param"><!--param--></div>
</body>
</html>
