.row.header {
    margin-bottom: 30px;
}

.span12 {
    width: 100%;
    min-width: 980px;
    padding: 0px 30px;
}

.admin-menu {
    margin: 0px;
    padding: 0px;
    float: right;
    list-style: none;
}

.admin-menu li {
    display: inline-block;
}

.admin-menu li a {
    color: #ffffff;
    display: block;
    margin-left: 30px;
}

.button-row {
    margin-bottom: 22px;
}

.button-row button {
    padding: 0px 14px 0px 14px;
    height: 39px;
    margin-right: 27px;
}

.button-row .button-style {
    margin-right: 27px;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 1px;
}

th {
    font-size: 25px;
    font-weight: normal;
    padding: 3px 4px 15px 4px;
}

td {
    font-size: 15px;
    padding: 4px 4px 13px 4px;
}

.delete1 {
    display: inline-block;
    width: 45px;
    height: 12px;
    /*background: url("../images/delete.png") no-repeat 50% 50%;*/
    background: url("../images/icons/svg/trashcan.svg") no-repeat 50% 50%/ 12px 14px;
    margin-bottom: -5px;
    cursor: pointer;
}

.wfc {
    width: 57px;
}

.full-table {
    width: 100%;
}

select.results {
    float: right;
    width: 177px;
    height: 39px;
    padding-left: 13px;
}

h1.adminh {
    text-transform: none;
    float: left;
    margin-right: 90px;
}

.search-input {
    display: inline-block;
    float: left;
    margin-right: 30px;
    padding-top: 5px;
}

.search-input input {
    width: 306px;
    height: 40px;
    padding-left: 45px;
    padding-right: 10px;
    border: none;
    /*background: #cccccc url("../images/admin_search.png") no-repeat 13px 50%;*/
    background: #cccccc url("../images/icons/svg/search.svg") no-repeat 10px 50% / 28px 28px;
}

.pages ul {
    display: inline-block;
    float: left;
    margin-right: 30px;
    list-style: none;
    padding: 15px 0px 0px 0px;
}

.pages ul li {
    display: inline-block;
    margin-right: 16px;
}

.pages ul li a {
    display: block;
    color: #2c3d51;
}

.main-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
}

.not-active, .not-active.hover-green, .hover-green.not-active {
    background-color: transparent !important;
    text-shadow: none;
    color: #2c3d51;
}

.main-row .preview {
    margin-left: -64px;
}

select.status {
    width: 143px;
    height: 26px;
}

textarea.main-text {
    width: 749px;
    height: 252px;
}

.addnew-table label {
    width: 256px;
}

.create-button, .cancel-button {
    text-transform: uppercase;
    height: 40px;
    width: 364px;
    margin-right: 21px !important;
}

.select-buttons {
    display: block;
    margin-top: 24px;
}

.select-buttons button {
    margin-right: 23px;
    width: 143px;
    height: 26px;
}