.header .logo {
    display: inline-block;
    float: left;
}

.header .citywidget {
    display: inline-block;
    margin-left: 8px;
}

.header .citywidget .cityname {
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(26, 125, 62, 1);
    font-size: 26px;
    line-height: 24px;
}

.city-arrow {
    background: url("../images/select_city.png") no-repeat 0px 7px;
    display: inline-block;
    width: 8px;
    height: 21px;
}

.rotate-bg {
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}

.header .citywidget .selectcity {
    display: block;
    color: #65b3e5;
    font-size: 12px;
    /*text-align: right;*/
    margin-left: 30px;
    cursor: pointer;
}

.header .infowidget {
    position: absolute;
    top: 59px;
    left: 155px;
    background-color: #3597d5;
    padding: 0px 16px 7px 15px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius:    0px 0px 5px 5px;
    border-radius:         0px 0px 5px 5px;
}

.header .infowidget span {
    display: inline-block;
    padding-left: 26px;
    padding-top: 5px;
    text-shadow: 1px 1px 0px rgba(26, 103, 165, 1);
    font-size: 12px;
    line-height: 10px;
    height: 19px;
    float: left;

}

.header .infowidget .weather-day {
    /*background: url("../images/cloudly_day.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/weather-partly-sunny.svg") no-repeat 0% 50%;
    background-size: 19px;
}

.header .infowidget .weather-night {
    /*background: url("../images/cloudly_night.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/weather-cloudy.svg") no-repeat 0% 2px;
    margin-left: 15px;
    background-size: 19px;
}

.header .infowidget .dollar {
    /*background: url("../images/usd.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/dollar.svg") no-repeat 0% 50%;
    background-size: 9px;
    padding-left: 17px;
    margin-left: 19px;
}

.header .infowidget .euro {
    /*background: url("../images/euro.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/euro.svg") no-repeat 0% 50%;
    background-size: 9px;
    padding-left: 16px;
    margin-left: 21px;
}

.header .infowidget .rub {
    /*background: url("../images/rub.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/ruble.svg") no-repeat 0% 50%;
    background-size: 10px;
    padding-left: 14px;
    margin-left: 21px;
}

.header .infowidget .dotes {
    display: inline-block;
    margin-left: 2px;
    margin-right: 3px;
    padding: 0px;
    float: none;
}

.header .infowidget .depreciation, .header .infowidget .growth-rate {
    display: inline-block;
    width: 4px;
    height: 4px;
    padding: 0px;
    float: none;
}

.header .infowidget .depreciation {
    background: url("../images/depreciation.png") no-repeat;
    margin-left: 1px;
}

.header .infowidget .growth-rate {
    background: url("../images/growth_rate.png") no-repeat;
    margin-left: 1px;
}

.header .mainmenu {
    margin: 0px;
    padding: 0px;
    float: right;
}

.header .mainmenu li {
    display: inline-block;
    margin-left: 8px;
}

.header .mainmenu li a {
    display: block;
    padding: 16px 9px 14px 39px;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    background-repeat: no-repeat;
    background-position: 11px 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 10px;
    text-decoration: none;
}

.header .mainmenu li a {
    text-decoration: none;
}

.header .mainmenu li a.deals {
    /*background-image: url("../images/deals.png");*/
    background-image: url("../images/icons/svg/gift.svg");
    background-size: 22px;
}

.header .mainmenu li a.map {
    /*background-image: url("../images/map.png");*/
    background-image: url("../images/icons/svg/map.svg");
    background-size: 22px;
}

.header .mainmenu li a.news {
    /*background-image: url("../images/news.png");*/
    background-image: url("../images/icons/svg/newspaper.svg");
    background-size: 22px;
}

.header .mainmenu li a.personal-area {
    /*background-image: url("../images/personal_area.png");*/
    background-image: url("../images/icons/svg/cabinet.svg");
    background-size: 22px;
}

.span6.searchdiv {
    width: 79.85%;
    float: left;
}

.span6.adddiv {
    width: 20.15%;
    float: right;
}

.row.search .searchinput {
    /*width: 1032px;*/
    width: 89.7%;
    height: 38px;
    border: 1px solid #deeced;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
}

.row.search .searchbutton {
    /*width: 118px;*/
    width: 10.3%;
    height: 38px;
    text-indent: -300px;
    overflow: hidden;
    /*background-image: url("../images/search.png");*/
    background: #deeced url("../images/icons/svg/search_dark.svg") no-repeat 50% 50% / 28px 28px;
    border: none;
}

.row.search .addblock {
    float: right;
}

.row.search .addblock a {
    display: block;
    width: 201px;
    padding: 25px 35px 21px 80px;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    /*background-image: url("../images/star.png");*/
    background-image: url("../images/icons/svg/star.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 25px 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    /*text-shadow: 1px 1px 0px rgba(26, 135, 76, 1);*/
    color: #fefefe;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 10px;
    margin-left: 51px;
    text-decoration: none;
    font-size: 14px;
    line-height: 15px;
    cursor: pointer;
}

.row.news .newsblock {
    height: 300px;
    width: 20%;
    min-width: 320px;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 5px;
}

.row.news .newsblock .newscontent {
    /*display: inline-block;*/
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0;
    cursor: pointer;
}

.row.news .newsblock .newscontent.big {
    height: 300px;
}

.row.news .newsblock .newscontent img {
    width: 100%;
}

.ptext {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: url("../images/ptext_bg.png") repeat;
    padding: 12px 16px 5px 14px;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(35, 53, 55, 1);
}

.ptext .caption {
    font-weight: bold;
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
}

.ptext .text {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 11px;
}

.row.headings .heading {
    float: left;
    width: 321px;
}

.headingmargin {
    width: 38px;
    height: 1px;
    float: left;
}

.row.headings .heading .headengtable {
    width: 100%;
    margin-top: 52px;
}

.row.headings .heading th {
    font-weight: normal;
    color: #ffffff;
    background-color: #1bbc9d;
    padding: 8px 9px 8px 9px;
    text-transform: capitalize;
}
.row.headings .heading th a{
    font-weight: normal;
    color: #ffffff;
    background-color: #1bbc9d;
    text-transform: capitalize;
}
.row.headings .heading td,.row.headings .heading a {
    text-transform: uppercase;
    color: #2c3d4f;
    font-size: 11px;
}

.row.headings .heading td.name {
    width: 88%;
    padding: 5px 0px 3px 19px;
}

.row.headings .heading td.count {
    width: 12%;
    text-align: right;
    padding: 5px 9px 3px 9px;
}

.row.footer .footermenu {
    margin: 0px 0px 25px 0px;
    padding: 0px;
    list-style: none;
}

.row.footer .footermenu li {
    display: inline-block;
    margin-right: 28px;
}

.row.footer .footermenu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.row.footer .footermenu li a:hover {
    text-decoration: underline;
}

.row.footer .footer-copirights {
    /*margin-right: 37px;*/
    margin-right: 1.8%;
}

.row.footer .footer-email {
    /*margin-right: 45px;*/
    margin-right: 2.3%;
}

.row.footer .upbutton {
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    background-color: #1bbc9d;
    padding: 8px 17px 10px 20px;
    line-height: 12px;
    float: right;
    margin-top: 27px;
    margin-right: 13px;
    cursor: pointer;
}

.row.footer .upbutton:hover {
    background-color: #099B85 !important;
}

/* Дополнительные стили для страницы рубрик - начало */

.breadcrumbs a {
    text-decoration: underline;
    color: #2c3d51;
    font-size: 13px;
    display: inline-block;
    /*background: url("../images/breadcrumbs.png") no-repeat 100% 50%;*/
    background: url("../images/icons/svg/caret-right_blue.svg") no-repeat 100% 50% / 8px 15px;
    padding-right: 17px;
    margin-right: 10px;
}

.breadcrumbs a:hover {
    text-decoration: none;
}

.refresh-block {
    margin-right: 30px;
}

.refresh-block, .view-block {
    display: inline-block;
    float: right;
    text-align: right;
}

.refresh-block span, .view-block span {
    display: block;
    color: #3498d6;
    text-transform: lowercase;
    margin-bottom: 6px;

}

.view-block .list-view, .view-block .block-view, .refresh-block .refresh-button {
    display: inline-block;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    text-decoration: none;
    cursor: pointer;
}

.view-block .list-view, .view-block .block-view {
    width: 28px;
    height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
}

.view-block .list-view.active, .view-block .block-view.active {
    background-color: #3597d4;
}

.view-block .list-view {
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    border-right: none;
    margin-right: -3px;
    /*background-image: url("../images/list_view.png");*/
    background-image: url("../images/icons/svg/three-bars.svg");
    background-size: 15px;
}

.view-block .block-view {
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    /*background-image: url("../images/block_view.png");*/
    background-image: url("../images/icons/svg/th-large.svg");
    background-size: 15px;
}

.refresh-block .refresh-button {
    text-shadow: 1px 1px 0px rgba(26, 135, 76, 1);
    color: #fefefe;
    padding: 4px 14px 5px;
    text-transform: lowercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.chargeable-unit .unit {
    display: block;
    background-color: #3597d6;
    margin-bottom: 20px;
    border: 1px solid #65b3e4;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(27, 103, 165, 1);
    font-size: 15px;
    padding: 10px 17px 14px 17px;
}

.chargeable-unit .unit span {
    display: inline-block;
    /*padding-top: 5px;
    padding-bottom: 9px;*/
}

.chargeable-unit .unit .name {
    background: url("../images/unit_star.png") no-repeat 0% 50%;
    padding-left: 27px;
    padding-right: 10px;
    width: 720px;
}

.chargeable-unit .unit .phones {
    width: 308px;
    padding-left: 32px;
    padding-right: 10px;
    /*background: url("../images/phone.png") no-repeat 10px 50%;*/
    background: url("../images/icons/svg/phone_green.svg") no-repeat 10px 50% / 16px;
    border-left: 1px solid #65b3e4;
    /*border-right: 1px solid #65b3e4;*/
}

.chargeable-unit .unit .address {
    width: 300px;
    padding-left: 30px;
    /*background: url("../images/point.png") no-repeat 10px 50%;*/
    background: url("../images/icons/svg/mapmarker_green.svg") no-repeat 10px 35% / 16px;
    border-left: 1px solid #65b3e4;
}

.free-block {
    margin-top: 29px;
}

.free-block .unit {
    display: block;
    margin-bottom: 14px;
    border-bottom: 1px solid #bcddee;
}

.free-block .unit span, a {
    display: inline-block;
    font-size: 14px;
}

.free-block .unit .name {
    width: 768px;
}

.free-block .unit .phones {
    width: 309px;
    padding-left: 32px;
    padding-right: 9px;
    /*background: url("../images/free_phone.png") no-repeat 10px 50%;*/
    background: url("../images/icons/svg/phone_blue.svg") no-repeat 10px 50% / 15px;
    border-left: 1px solid #bcddee;
    /*border-right: 1px solid #bcddee;*/
}

.free-block .unit .address {
    width: 347px;
    padding-left: 30px;
    /*background: url("../images/free_point.png") no-repeat 10px 50%;*/
    background: url("../images/icons/svg/mapmarker_blue.svg") no-repeat 10px 50% / 14px;
    border-left: 1px solid #bcddee;
}

/* Дополнительные стили для страницы рубрик - конец */

/* Дополнительные стили для страницы предложений - начало */

.deals .deal {
    display: inline-block;
    width: 447px;
    height: 261px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-top: 5px;
    /*margin-left: 5px;*/
}

.deals .deal img {
    width: 100%;
}

.deals .deal.center-deal {
    margin-right: 29px;
    margin-left: 29px;
}

/* Дополнительные стили для страницы предложений - конец */

/* Дополнительные стили для страницы результатов поиска - начало */

.advanced-search {
    margin-top: 17px;
}

.advanced-search label {
    display: block;
    font-weight: normal;
    font-size: 17px;
    margin-left: 5px;
    color: #030d18;
}

.advanced-search .right-content label {
    float: left;
    margin-left: 48px;
}

.advanced-search select {
    width: 670px;
    height: 40px;
    padding-left: 29px;
    color: #030d18;
    margin-top: 10px;
    margin-bottom: 30px;
}

.advanced-search .search-button {
    display: inline-block;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    text-transform: lowercase;
    line-height: 10px;
    padding: 13px 16px 11px 16px;
    margin-left: 18px;
}

.open-advanced {
    display: inline-block;
    margin-top: 15px;
    padding-bottom: 2px;
    float: right;
    color: #b3b3b3;
}

.open-advanced span {
    border-bottom: 1px solid #deeced;
    color: #030d18;
    cursor: pointer;
}

.search-results .result-label {
    font-size: 26px;
    color: #b3b3b3;
    margin-right: 5px;
}

.search-results .search-param {
    color: #030d18;
    font-size: 26px;
}

.search-results .result-count {
    color: #b3b3b3;
    margin-left: 5px;
}

.seasrch-result {
    margin-top: 35px;
}

.seasrch-result .free-block .unit .name {
    width: 578px;
}

.seasrch-result .free-block .unit .category {
    width: 157px;
    padding-left: 32px;
    padding-right: 10px;
    /*background: url("../images/fake.png") no-repeat 10px 50%;*/
    background: url("../images/icons/svg/folder-fill.svg") no-repeat 10px 50% / 16px;
    border-left: 1px solid #bcddee;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: -5px;
}

.more-result, .more-result:hover {
    width: 100%;
    text-align: center;
    display: block;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 12px;
    margin-top: 15px;
}

.new {
    margin-top: 28px;
}

.new-content .img-block {
    display: inline-block;
    float: left;
    width: 700px;
    margin-right: 29px;
    margin-bottom: 17px;
}

.new-content .img-block img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 7px;
}

.new-content .img-block .source {
    font-size: 10px;
    float: right;
}

.new-content p {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 16px;
    text-align: justify;
    text-indent: 40px;
}

.new-content .new-author {
    float: right;
    font-size: 17px;
    width: 285px;
    text-align: right;
}

.new .public-date {
    float: right;
    margin-top: 22px;
}

/* Дополнительные стили для страницы результатов поиска - конец */

/* Дополнительные стили для страниц регистрации - начало */

.registration-steps {
    margin-top: 25px;
    margin-bottom: 33px;
}

.steps {
    display: inline-block;
}

.steps .passed-step, .steps .active-step, .steps .upcoming-step {
    background-color: #1bbc9d;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius:    50%;
    border-radius:         50%;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    display: inline-block;
    float: left;
}

.steps .passed-step, .steps .active-step {
    border: 9px solid #099b85;
}

.steps .passed-step {
    width: 102px;
    height: 102px;
    padding-top: 16px;
    margin-top: 9px;
}

.steps .active-step {
    width: 120px;
    height: 120px;
    padding-top: 27px;
}

.steps .upcoming-step {
    width: 84px;
    height: 84px;
    padding-top: 16px;
    margin-top: 18px;
}

.steps .step-number {
    font-size: 20px;
    line-height: 24px;
    display: block;
}

.steps .passed-brench, .steps .upcoming-brench {
    display: inline-block;
    float: left;
    height: 8px;
    margin-top: 56px;
}

.steps .passed-brench {
    width: 210px;
    background-color: #099b85;

}

.steps .upcoming-brench {
    width: 220px;
    background-color: #0bb59c;
}

.registration2 label, .registration3 label, .addnew-table label {
    font-weight: normal;
    display: block;
    margin-bottom: 0px;
}

.registration2 .explanation, .registration3 .explanation, .addnew-table .explanation {
    font-size: 10px;
	display:none;
}

.registration2 .morespan, .registration3 .morespan {
    width: 773px;
    padding-right: 29px;
}

.registration2 .lessspan {
    width: 627px;
    margin-top: 3px;
}

.paytable, .order-table, .infotable, .job-table {
    width: 100%;
}

.order-table {
    margin-top: 17px;
    margin-bottom: 35px;
}

.paytable td, .order-table td, .infotable td {
    width: 518px;
    padding: 22px 29px 19px 29px;
}

.order-table td, .job-table td {
    padding: 18px 29px 19px 29px;
}

.job-table thead tr td {
    text-transform: uppercase;
    font-weight: bold;
}

.paytable td + td, .order-table td + td, .infotable td + td {
    width: 107px;
    text-align: right;
    padding: 22px 29px 19px 0px;
}

.order-table td + td span {
    display: block;
    padding-top: 10px;
}

.registration2 .table-striped > tbody > tr:nth-child(n+1) > td, .table-striped > tbody > tr:nth-child(n+1) > th {
    background-color: #ffffff;
}

.registration2 .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #def1ef;
}

.registration2 .pay-label {
    display: block;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 4px;
}

.registration2 .sum {
    display: block;
    text-align: center;
    font-size: 26px;
    margin-bottom: 7px;
}

.registration2 .last-tr {
    height: 126px;
}

.registration2 .formtable td, .registration3 .formtable td {
    padding-bottom: 13px;
}

.registration2 .formtable td, .registration3 .formtable td {
    width: 264px;
}

.registration2 .formtable td + td, .registration3 .formtable td + td {
    width: 483px;
}

.registration2 .add-info {
    margin-top: 12px;
}

.registration2 .add-info .add-label {
    font-size: 17px;
    margin-right: 8px;
}

.registration2 .add-info .add-open {
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 10px;
    padding: 14px 15px;
}

.cancel-step, .next-step, .send-application, .back-button {
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    padding-top: 16px;
    padding-bottom: 19px;
}

.registration-buttons {
    margin-top: 27px;
}

.moderation-button {
    margin-top: 12px;
}

.cancel-step, .back-button {
    width: 222px;
}

.next-step {
    width: 1150px;
    margin-left: 24px;
}

.send-application {
    width: 100%;
}

.application .send-application {
    width: 910px;
    margin-left: 20px;
    margin-right: 20px;
}

.exclude {
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    text-align: center;
    width: 106px;
    padding: 0px;
    height: 40px;
    margin-right: 20px;
}

/* Дополнительные стили для страниц регистрации - конец */

/* Дополнительные стили для страниц личного кабинета - начало */

.infotable .info-label {
    font-size: 18px;
}

.personal-menu {
    margin-top: 37px;
    margin-bottom: 21px;
}

.personal-menu ul {
    list-style: none;
    display: inline-block;
    background-color: #1bbc9d;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: none;
}

.personal-menu ul li {
    display: inline-block;
    float: left;
    margin-bottom: 0px;
}

.personal-menu ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(26, 125, 62, 1);
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    line-height: 12px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius:    0px;
    border-radius:         0px;
    margin: 0px;
}

/*.personal-menu ul li a.active, */
.personal-menu ul li a:hover, .personal-menu ul li.active a, .personal-menu ul li.active a:hover {
    background-color: #e8f5f6;
    color: #2c3d51;
    text-shadow: none;
}

.personal-menu ul li a#general {
    width: 216px;
}

.personal-menu ul li a#onmap {
    width: 120px;
}

.personal-menu ul li a#deals {
    width: 131px;
}

.personal-menu ul li a#foto {
    width: 75px;
}

.personal-menu ul li a#job {
    width: 112px;
}

.personal-menu ul li a#moder {
    width: 131px;
}

.preview-button {
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 10px;
    float: right;
    width: 185px;
    height: 39px;
}

.onmap {
    margin-top: 14px;
}

.onmap .morespan {
    width: 804px;
}

.onmap .lessspan {
    width: 596px;
}

.onmap #map {
    width: 595px;
    height: 487px;
    background-color: #ffffff;
}

.maptip {
    display: block;
}

.main-marker, .branch-marker {
    display: block;
    /*background-image: url("../images/fake.png");*/
    background-image: url("../images/icons/svg/mapmarker_white.svg");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 40px;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    line-height: 10px;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-top: 29px;
}

.main-marker {
    width: 220px;
}

.branch-marker {
    width: 114px;
}

.add-block {
    width: 100%;
    padding-left: 27px;
    margin-top: 2px;
}

.add-block .add-text {
    display: inline-block;
	margin-left:-30px;
	margin-top:30px;
	padding:30px;
	text-align:justify;
	background:#fff;
}

.add-block .add-button {
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 10px;
    float: right;
    width: 186px;
    height: 39px;
}

.one-deal {
    display: inline-block;
    width: 100%;
    height: 39px;
    padding-top: 11px;
    padding-left: 28px;
    padding-right: 10px;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
}

.create-header {
    margin-top: 14px;
    margin-bottom: 13px;
}

.public-remove {
    display: inline-block;
    width: 159px;
    height: 39px;
    text-align: center;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    margin-left: 24px;
}

.delete-span {
    margin-top: 7px;
    margin-left: 0px;
}

.delete-span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.foto {
    text-align: justify;
}

.img-block {
    width: 180px;
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    margin-right: 23px;
}

.no-right {
    margin-right: 0px !important;
}

.img-block img {
    width: 180px;
    height: 99px;
}

.add-img {
    height: 99px;
    background-color: #1bbc9d;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 12px;
    padding-top: 35px;
    padding-right: 48px;
    padding-left: 49px;
    text-align: center;
    cursor: pointer;
}

.balance, .orders-history {
    /*height: 90px;*/
    display: inline-block;
    color: #ffffff;
    background-color: #3597d5;
    padding-top: 25px;
    padding-left: 29px;
}

.balance {
    width: 829px;
    float: left;
}

.orders-history {
    /*width: 545px;*/
    /*margin-left: 26px;*/
}

.content {
    /*background: url("../images/big_fake.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/windows.svg") no-repeat 0% 50% / 32px;
    padding-left: 54px;
    height: 40px;
    display: inline-block;
}

.content span {
    margin-top: 12px;
    display: inline-block;
    margin-right: 56px;
}

.balance .recharge-button {
    text-transform: lowercase;
    line-height: 10px;
    text-align: center;
    width: 126px;
    height: 40px;
    float: right;
    margin-right: 29px;
}

.orders-history .result {
    height: 40px;
    /*display: inline-block;*/
    /*background: url("../images/big_fake.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/windows.svg") no-repeat 0% 50% / 32px;
    padding-left: 60px;
    padding-top: 10px;
    margin-right: 30px;
}

.bold-content {
    font-weight: bold;
    font-size: 15px;
}

.business-card {
    color: #ffffff;
    background-color: #3597d5;
    margin-top: 30px;
    padding: 5px 30px 29px 30px;
}

.business-card h3 {
    color: #ffffff;
}

.business-card table {
    width: 100%;
}

.business-card ul {
    list-style: none;
    margin: 0px 0px 21px -30px;
    padding: 0px;
    background-color: #1bbc9d;
    border-top: 1px solid #099b85;
    border-bottom: 1px solid #099b85;
    width: 1400px;
}

.business-card ul li {
    display: inline-block;
}

.business-card ul li a {
    display: block;
    color: #ffffff;
    padding: 10px 31px 11px 31px;
}

.business-card button {
    height: 40px;
}

.business-card .remove-assignment {
    width: 144px;
}

.business-card .prolong-assignment {
    width: 160px;
    margin-left: 26px;
}

.info-table {
    margin-bottom: 20px;
}

.info-table .name {
    /*width: 775px;*/
}

.info-table .publication-label, .info-table .publication-label2 {
    width: 186px;
}

.info-table .main, .assignment .main  {
    height: 33px;
    /*background: url("../images/big_fake.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/windows.svg") no-repeat 0% 50% / 32px;
    padding-left: 60px;
    display: inline-block;
    padding-top: 9px;
}

.publication-label .main {
    padding-top: 0px;
}

.info-table .name .decription {
    color: #2c3d51;
    margin-left: 5px;
}

.info-table .info-date {
    display: block;
    /*background: url("../images/small_fake.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/calendar.svg") no-repeat 0% 50%/ 18px;
    padding-left: 30px;
}

.publication-date .info-date {
    background: none;
    padding-left: 0px;
}

.info-table .card-info {
    width: 345px;
}

.card-info hr, .publication-date hr {
    width: 290px;
    margin: 5px 0px 5px 0px;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #ffffff; /* old IE */
    background-color: #ffffff; //Modern Browsers
}

.publication-date hr {
    width: 74px;
}

.left .statistic-block {
    margin-right: 28px;
}

.right .statistic-block {
    margin-left: 28px;
}

.statistic-block {
    text-align: left;
    background-color: #3597d5;
    width: 100%;
    height: 350px;
    padding: 23px 30px 30px 30px;
    margin-top: 30px;
}

.statistic-block h4 {
    color: #ffffff;
}

.period {
    float: right;
    width: 105px;
    height: 40px;
    border: none;
}

.schedule {
    background-color: #ffffff;
    margin-top: 16px;
    width: 100%;
    height: 230px;
}

.message-body {
    width: 100%;
    height: 141px;
    padding-right: 9px;
    padding-left: 9px;
    margin-bottom: 25px;
}

.moderation .button-row {
    margin-top: 38px;
}

.moderation .button-row button {
    width: 679px;
    height: 40px;
}

.moderation .button-row button + button {
    margin-left: 39px;
}

.moderation label {
    font-weight: normal;
    margin-right: 30px;
}

.moderation #mail, .moderation #payment {
    margin-top: 0px;
    margin-right: 18px;
}

.checkNumber {
    width: 462px;
    height: 40px;
    padding-right: 9px;
    padding-left: 9px;
}

/* Дополнительные стили для страниц личного кабинета - конец */

.leftpadding {
    padding-left: 155px !important;
}

.add-form {
    display: none;
    width: 744px;
}

.city-ul {
    list-style: none;
    display: none;
    position: absolute;
    background: #3597d5;
    z-index: 1;
    padding: 15px;
    margin-left: 16px;
}

.city-ul li {
    cursor: pointer;
}

/*.reg-form {
    padding-left: 30px;
    padding-right: 30px;
}*/

.reg-form label, .reg-form-label {
    width: 170px;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    display: inline-block;
}

.reg-form input, .reg-form-input {
    width: 333px;
    height: 31px;
    padding: 0px 9px;
}

.captcha-block {
    width: 170px;
    display: inline-block;
    text-align: left;
}

.reg-form .description {
    display: inline-block;
    width: 221px;
    height: 31px;
    padding-top: 11px;
}

.reg-form .description .arrow {
    background: url("../images/desc_bg.png") no-repeat 0% 50%;
    width: 9px;
    height: 31px;
    display: inline-block;
    float: left;
    margin-right: -2px;
}

.reg-form .description .text {
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    width: 212px;
    height: 31px;
    text-align: center;
    line-height: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    display: inline-block;
    border: 1px solid #ececec;
    border-left: none;
    background-color: #ffffff;
    float: left;
}

.job-buttons {
    width: 185px;
    height: 39px;
    margin-right: 15px;
}

/* Добавление контактов в личном кабинете */
.contact-button, .add-rubric, .edit-button {
    height: 39px;
    width: 100%;
}

#contactList {
    display: none;
    width: 100%;
    margin-top: 10px;
}

#loadingDiv {
    display: none;
    position: fixed;
    z-index: 1051;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url(/images/loading.gif) 50% 50% no-repeat;
}
row.sitepage {
	width:100%;
}
.aboutmob1 {
	font-size:48px;
	text-align:center;
}
.aboutmob2 {
	font-size:24px;
	text-align:center;
}
.aboutusblock {
	margin-top:15px;
	text-align:justify;
}
.appstore {
	margin:50px 30px;
}

.rubric-icon img{
    width: 15px;
    height: 15px;
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.balance_error {
    display: none;
    padding: 5px 10px;
    background: #9d7b7b;
    color: #810a0a;
    border: 1px solid #810a0a;
    width: 50%;
    margin: 0px auto 15px;
}

.input-error {
    border: 1px solid #810a0a;
}