@media (max-width: 1399px) {
    .span12 {
        width: 980px;
    }

    .header .infowidget {
        left: 23px;
    }

    .span6.searchdiv {
        width: 75%;
    }

    .row.headings .heading {
        width: 233px;
    }

    .headingmargin {
        width: 15px;
    }

    .chargeable-unit .unit .name {
        width: 424px;
    }

    .chargeable-unit .unit .address {
        width: 203px;
    }

    .free-block .unit .name {
        width: 442px;
    }

    .free-block .unit .address {
        width: 223px;
    }

    .deals .deal {
        width: 320px;
        height: 188px;
    }

    .deals .deal.center-deal {
        margin-right: 10px;
        margin-left: 10px;
    }

    .advanced-search select {
        width: 441px;
    }

    .seasrch-result .free-block .unit .name {
        width: 282px;
    }

    .new-content .img-block {
        width: 470px;
    }

    .registration2 .morespan {
        width: 533px;
        padding-right: 15px;
    }

    .registration2 .lessspan {
        width: 447px;
    }

    .registration2 .formtable td {
        width: 148px;
    }

    .registration2 .formtable td + td {
        width: 370px;
    }

    .registration-input, .registration-textarea {
        width: 370px;
    }

    .registration-input-small {
        width: 187px;
    }

    .cancel-step {
        width: 202px;
    }

    .next-step {
        width: 751px;
    }

    .application .send-application {
        width: 496px;
    }

    .onmap .lessspan {
        width: 385px;
    }

    .onmap .morespan {
        width: 595px;
    }

    .onmap #myMap {
        width: 595px;
        height: 352px;
    }

    .img-block {
        margin-right: 20px;
    }

    .business-card ul {
        width: 980px;
    }

    .moderation .button-row button {
        width: 469px;
    }

    .balance {
        width: 600px;
    }

    .orders-history {
        width: 354px;
    }

    .statistic-block {
        width: 980px;
    }

    .left .statistic-block {
        margin-right: 14px;
    }

    .right .statistic-block {
        margin-left: 14px;
    }
}