html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    background-color: #e8f5f6;
    width: 100%;
    color: #2c3d51;
    font-size: 12px;
    /*line-height: 12px;*/
}

.row {
    width: 100%;
    margin: 0px;
}

div.span1, div.span2, div.span3, div.span4, div.span5, div.span6, div.span7, div.span8, div.span9, div.span10, div.span11, div.span12  {
    margin-left: 0px !important;
}

.span12 {
    width: 1400px;
    float: none;
    display: inline-block;
    text-align: left;
}

.span6 {
    width: 50%;
    float: left;
}

.span6.morespan {
    width: 55%;
}

.span6.lessspan {
    width: 45%;
}

.center-content {
    text-align: center;
}

.right-content {
    text-align: right;
}

.row.header {
    background-color: #3597d5;
    padding-top: 35px;
    padding-bottom: 28px;
    color: #ffffff;
}

.row.search {
    margin-top: 50px;
}

.row.search .span12.searchform {
    display: inline-block;
    float: left;
}

.row.search .span3.addblock {
    width: 252px;
    display: inline-block;
}

.row.search .searchform .checkbox {
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #deeced;
    padding-bottom: 2px;
    float: left;
}

.row.search .searchform .checkbox label {
    color: #030d18;
    font-size: 12px;
}

.row.header, .row.search, .row.headings, .row.footer, .row.news, .row.deals {
    min-width: 980px;
}

.row.news {
    margin-top: 33px;
}

.row.rubrics {
    margin-top: 46px;
}

.row.deals {
    margin-top: 32px;
}

.row.map {
    margin-top: 32px;
}

.row.registration, .row.application {
    margin-top: 47px;
}

.row.footer {
    background-color: #2c3d4f;
    /*margin-top: 49px;*/
    margin-top: -92px;
    padding: 11px 20px 22px 20px;
    color: #ffffff;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    color: #2c3d51;
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
    margin-top: 8px;
}

h2 {
    font-size: 18px;
    line-height: 18px;
}

h3 {
    font-size: 17px;
    line-height: 17px;
}

h4 {
    font-size: 17px;
    line-height: 17px;
    margin-top: 4px;
}

h1 span {
    font-weight: bold;
}

.clr {
    clear: both;
}

*:focus {
    outline: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ebf3f4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ebf3f4;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ebf3f4;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ebf3f4;
}

.p-relative {
    position: relative;
}

.right-span {
    text-align: right;
}

textarea{
    resize: none;
}

.table-striped > tbody > tr:nth-child(n+1) > td, .table-striped > tbody > tr:nth-child(n+1) > th {
    background-color: #def1ef;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #ffffff;
}

.registration-input {
    width: 483px;
    height: 26px;
    padding-right: 9px;
    padding-left: 9px;
}

.registration-input-small {
    width: 300px;
    height: 26px;
    padding-right: 9px;
    padding-left: 9px;
}

.registration-input-date {
    width: 142px;
    height: 26px;
    padding-right: 26px;
    padding-left: 9px;
    /*background-image: url("../images/fake.png");*/
    background-image: url("../images/icons/svg/calendar2.svg");
    background-size: 15px 16px;
    background-repeat: no-repeat;
    background-position: 94% 50%;
    border: none;
    margin-right: 24px;
}

.registration-select {
    width: 180px;
    height: 26px;
    padding-right: 9px;
    padding-left: 9px;
}

.registration-select-big {
    height: 26px;
    padding-right: 9px;
    padding-left: 9px;
    width: 483px;
}

.registration-textarea {
    width: 483px;
    height: 99px;
    padding-right: 9px;
    padding-left: 9px;
}

button, input[type='submit'], input[type='reset'], input[type='button'] {
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
}

a.button-style {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 10px;
    padding: 14px 14px 13px 14px;
}

th, td {
    vertical-align: top;
}

.header-block {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    clear: both;
}

#content-block {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.wrap {
    padding-bottom: 141px;
}

.hover-green:hover {
    background-color: #099B85 !important;
}

.open-advanced {
    visibility: hidden;
}

.modal-dialog.deal-form {
    width: 864px;
}

.deal-form .modal-body {
    padding: 0px;
}

.deal-form .modal-row .span6 {
    width: 862px;
    text-align: left;
    background-color: #e8f5f6;
    padding: 26px 30px 30px 30px;
    /*min-height: 692px;*/
    float: none;
    display: inline-block;
    /*margin-top: 93px;*/
}

#bigMap {
    width: 100%;
    min-height: 1px;
    height: 400px;
    background: #ffffff;
}