<div style="margin:0px;padding:0px;border:0px;background-image:url('<!--server-->templates/invitations/<!--template-->/background.png');background-repeat:no-repeat;background-position:center left;width:376px;height:164px;"></div>
<div style="width:25px;height:25px;position:absolute;left:339px;top:6px;cursor:pointer;"
     onclick="top.lz_tracking_close_request();top.lz_tracking_action_result('chat_request',false,true);return false;">
    &nbsp;</div>
<div style="position:absolute;left:108px;top:29px;font-family:verdana,arial;font-size:12px;font-weight:bold;color:#FFFFFF;width:240px;line-height:12px;">
    <!--invitation_text--></div>
<img style="position:absolute;left:20px;top:30px;width:68px;height:51px;border:2px solid #59afff;"
     alt="<!--intern_name-->" src="<!--server--><!--intern_image-->" border="0">
<div onclick="lz_request_window.lz_livebox_chat('<!--user_id-->','<!--group_id-->');top.lz_tracking_action_result('chat_request',true,<!--close_on_click-->);"
     style="text-align:center;width:105px;height:30px;border:1px;padding:3px;position:absolute;left:250px;top:111px;cursor:pointer;font-family:verdana,arial;font-size:12px;color:#FFFFFF;line-height:30px;font-weight:bold;">
    <!--lang_client_start_chat--></div>
<input type="hidden" value="<!--username-->" id="lz_invitation_name" maxlength="32">
