<td><img src="./images/button_mail.gif" border="0" onclick="parent.parent.lz_chat_goto_message(false,false);"
         class="lz_chat_clickable_image" title="<!--lang_client_ticket_header-->"
         alt="<!--lang_client_ticket_header-->"></td>
<td><img src="./images/chat_bg_navigation_dev.gif" alt="" width="10" height="30" border="0"></td>