<table width="100%" style="margin-bottom:10px;">
    <tr>
        <td style="vertical-align:top;width:30px;text-align:right;" rowspan="2"><input type="radio"
                                                                                       name="voucher_select"
                                                                                       style="width:15px;"
                                                                                       value="<!--id-->" <!--selected-->
            >
        </td>
        <td width="18"><img src="<!--server-->images/icon_voucher.gif" width="16" height="11" border="0" alt=""></td>
        <td><!--id--></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="0" cellspacing="0" style="display:<!--display_sessions-->;">
                <tr>
                    <td width="80"><!--lang_client_voucher_chat_sessions--></td>
                    <td class="<!--class_sessions-->"><!--sessions--></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="display:<!--display_time-->;">
                <tr>
                    <td width="80"><!--lang_client_voucher_chat_time--></td>
                    <td class="<!--class_time-->"><!--time--></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="display:<!--display_expires-->;">
                <tr>
                    <td width="80"><!--lang_client_voucher_expires--></td>
                    <td class="<!--class_expires-->"><!--expires--></td>
                </tr>
            </table>
        </td>
    </tr>
</table>