<tr>
    <td valign="top" colspan="2">
        <table cellpadding="6" cellspacing="10" class="lz_index_box" width="100%">
            <tr>
                <td>
                    <table cellpadding="4" cellspacing="4" class="lz_index_inner_box" width="100%">
                        <tr>
                            <td background="./images/lz_index_linesbg.gif" align="center" valign="middle"><img
                                        src="./images/lz_index_warning.gif" alt="" border="0"></td>
                            <td width="310"><!--write_access--><!--php_version--><!--mysql--><!--disabled--></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
