<!DOCTYPE HTML>

<html>
<head>
    <title>LiveZilla Server Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="robots" content="index, follow">

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <style type="text/css" media=screen>
        . lz_index_help_text {text-align:left;font-family:verdana,arial;font-size:11px;color:#6c6c6c;padding-left:10px;padding-bottom:5px;} . lz_index_orange {color:#ff9000;font-weight:bold;} . lz_index_red {color:#c40000;font-weight:bold;} . lz_index_blue {color:#0099ff;font-weight:bold;font-size:11px;} . lz_index_howto_cat {font-family:verdana,arial;color:#5C5C5C;font-size:11px;font-weight:bold;} . lz_index_error_cat {font-family:verdana,arial;color:#3A3A3A;font-size:11px;font-weight:bold;} . lz_index_helplink {font-family:verdana,arial;font-size:11px;font-weight:bold;color:#7F7F7F;text-decoration:underline;} . lz_index_link {font-family:verdana,arial;font-size:11px;font-weight:bold;color:#7BB05D;text-decoration:none;} . lz_index_link : hover {font-family:verdana,arial;font-size:11px;font-weight:bold;color:#808080;text-decoration:none;} . lz_index_box td {border-radius:5px;background-color:#FAFAFA;} . lz_index_inner_box {border-radius:5px;border:1px solid #dcdcdc;color:#000000;font-size:11px;} . lz_index_inner_box td {font-family:verdana,arial;background-color:#FFFFFF;} . lz_index_description_box {font-family:verdana,arial;font-size:11px;color:#000000;} . lz_index_description_box td {padding:0px 25px 0px 25px;} . lz_index_light_text {font-family:verdana,arial;font-size:11px;color:#808080;} . lz_index_content_field

        {background:#FFFFFF;width:500px;border-radius:10px;border:2px solid #dcdcdc;box-shadow:0px 0px 5px #e2e2e2;}
    </style>
</head>
<body background="./images/lz_index_bg.gif" topmargin="0">


<!-- LiveZilla Tracking Code (ALWAYS PLACE IN BODY ELEMENT) -->
<div id="livezilla_tracking" style="display:none"></div>
<script type="text/javascript">
    var script = document.createElement("script");
    script.async = true;
    script.type = "text/javascript";
    var src = "./server.php?a=826cc&request=track&output=jcrpt&ovlp=MjI_&ovlc=IzczYmUyOA__&ovlct=I2ZmZmZmZg__&eca=MQ__&ecw=Mjg1&ech=OTU_&ecmb=Mjk_&echt=UXVlc3Rpb25zPw__&echst=Q2hhdCB3aXRoIHVzIGxpdmU_&ecoht=UXVlc3Rpb25zPw__&ecohst=UGxlYXNlIGxlYXZlIGEgbWVzc2FnZQ__&ecfs=I0YwRkZENQ__&ecfe=I0QzRjI5OQ__&echc=IzZFQTMwQw__&ecslw=Mg__&ecsgs=IzY1OUYyQQ__&ecsge=IzY1OUYyQQ__&ovlapo=Mg__&nse=" + Math.random();
    setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)", 1);</script>
<noscript><img
            src="./server.php?acid=99286&amp;request=track&amp;output=nojcrpt&amp;ovlp=MjI_&amp;ovlc=IzczYmUyOA__&amp;ovlct=I2ZmZmZmZg__&amp;ovlt=T25saW5lIC0gQ2hhdCB3aXRoIHVz&amp;ovlto=T2ZmbGluZSAtIExlYXZlIGEgbWVzc2FnZQ__&amp;ovls=MQ__&amp;eca=MQ__&amp;ecw=Mjgw&amp;ech=OTA_&amp;ecmb=Mjc_&amp;echt=UXVlc3Rpb25zPw__&amp;echst=Q2hhdCB3aXRoIHVzIGxpdmU_&amp;ecoht=UXVlc3Rpb25zPw__&amp;ecohst=UGxlYXNlIGxlYXZlIGEgbWVzc2FnZQ__&amp;ecfs=I0YwRkZENQ__&amp;ecfe=I0QzRjI5OQ__&amp;echc=IzZFQTMwQw__&amp;ecslw=Mg__&amp;ecsgs=IzY1OUYyQQ__&amp;ecsge=IzczQkUyOA__&amp;ecsa=MQ__&amp;ecsb=NA__&amp;ecsx=Mw__&amp;ecsy=Mw__&amp;ecsc=IzQ2NDY0Ng__"
            width="0" height="0" style="visibility:hidden;" alt=""></noscript>
<!-- http://www.LiveZilla.net Tracking Code -->


<br><br>
<table align="center" class="lz_index_content_field">
    <tr>
        <td>

            <table cellpadding="5" cellspacing="0" align="center">
                <tr>
                    <td colspan="2" valign="top" align="center"><br><br><img src="./images/lz_index_logo.gif" border="0"
                                                                             class="lz_index_logo" alt=""></td>
                </tr>
                <!--index_errors-->
                <tr>
                    <td valign="top">
                        <table cellpadding="6" cellspacing="10" class="lz_index_box" width="100%">
                            <tr>
                                <td valign="top">
                                    <table align="center" class="lz_index_inner_box" cellpadding="0" cellspacing="0"
                                           width="384">
                                        <tr>
                                            <td>
                                                <a href="javascript:void(window.open('./<!--file_chat-->?code=U0VSVkVSUEFHRQ__','','width=<!--width-->,height=<!--height-->,left=0,top=0,resizable=yes,menubar=no,location=yes,status=yes,scrollbars=yes'))"><img
                                                            src="./images/lz_index_startchat.gif" alt="" width="384"
                                                            height="40" border="0"></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellpadding="5" class="lz_index_description_box">
                                                    <tr>
                                                        <td><!--lang_index_description_demochat--><br><br></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table align="center" class="lz_index_inner_box" cellpadding="0" cellspacing="0"
                                           width="384">
                                        <tr>
                                            <td><a href="./mobile/index.php" target="_blank"><img
                                                            src="./images/lz_index_operator_client.gif" alt=""
                                                            width="384" height="40" border="0"></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellpadding="5" class="lz_index_description_box">
                                                    <tr>
                                                        <td><!--lang_index_description_operator_client--><br><br></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" align="center">
                        <table cellpadding="0" cellspacing="4">
                            <tr>
                                <td align="center"><a class="lz_index_link" href="http://www.livezilla.net"
                                                      title="<!--title-->"><!--title--></a></td>
                                <td align="center" class="lz_index_light_text">|</td>
                                <td align="center"><a class="lz_index_link" href="http://www.livezilla.net/faq/"
                                                      title="<!--title--> - Frequently Asked Questions">FAQ</a></td>
                                <td align="center" class="lz_index_light_text">|</td>
                                <td align="center"><a class="lz_index_link" href="http://www.livezilla.net/downloads/"
                                                      title="<!--title--> - Downloads and Updates">Updates</a></td>
                                <td align="center" class="lz_index_light_text">|</td>
                                <td align="center"><a class="lz_index_link" href="http://forums.livezilla.net/"
                                                      title="<!--title--> - Community Forums">Forums</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="400" align="center" class="lz_index_light_text">LiveZilla is a registered
                        trademark<br>of LiveZilla GmbH<br><br>Version <!--lz_version--></td>
                </tr>
            </table>
            <br><br>
        </td>
    </tr>

</table>
</body>
</html>
