<input type="hidden" id="lz_form_active_<!--name-->" value="<!--active-->">
<table cellpadding="0" cellspacing="0" id="lz_form_<!--name-->" class="lz_input">
    <tr>
        <td id="lz_form_caption_<!--name-->" class="lz_form_field"><!--caption--></td>
        <td><textarea id="a<!--name-->" name="form_<!--name-->"
                      onmouseover="parent.parent.lz_chat_resize_area_int(this.id,400,110);"
                      class="lz_form_base lz_form_box lz_form_area"
                      onchange="parent.parent.lz_global_impose_max_length(this, <!--maxlength-->);parent.parent.lz_chat_save_input_value('<!--name-->',this.value);"
                      onkeyup="parent.parent.lz_global_impose_max_length(this, <!--maxlength-->);parent.parent.lz_chat_save_input_value('<!--name-->',this.value);"
                      onkeydown="return parent.parent.lz_chat_save_input_value('<!--name-->',this.value);"></textarea>
        </td>
        <td class="lz_form_icon">
            <div id="lz_form_mandatory_<!--name-->" style="display:none;"></div>
        </td>
        <td>
            <div class="lz_form_info_box" id="lz_form_info_<!--name-->"><!--info_text--></div>
        </td>
    </tr>
</table>

