<table width="97%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td width="3"></td>
        <td rowspan="2" dir="<!--dir-->">
            <table width="100%" cellspacing="0" cellpadding="4">
                <tr>
                    <td width="2"></td>
                    <!--icon-->
                    <td><span class="lz_message_text"><!--message--></span></td>
                    <td width="2"></td>
                </tr>
            </table>
        </td>
        <td width="3" align="right"></td>
    </tr>
    <tr>
        <td height="3" valign="bottom"></td>
        <td valign="bottom"></td>
    </tr>
</table>