<table width="97%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:6px;">
    <tr>
        <td>
            <table width="100%" cellspacing="0" cellpadding="0" height="20"
                   style="border-radius:3px;background:#83c119;">
                <tr>
                    <td width="6"></td>
                    <td width="6"></td>
                    <td valign="middle" NOWRAP class="lz_message_a_title"><!--name--></td>
                    <td align="right" valign="middle" class="lz_message_a_time"><!--time--></td>
                    <td width="8"></td>
                    <td width="6"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td dir="<!--dir-->">
            <table width="100%" cellspacing="0" cellpadding="4" height="20">
                <tr>
                    <td width="5"></td>
                    <td><span class="lz_message_text"><!--message--></span></td>
                    <td width="2"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>