<table width="97%" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#fbfbfb;">
    <tr>
        <td width="3" height="3" valign="top"></td>
        <td rowspan="2">
            <table width="100%" cellspacing="0" cellpadding="4">
                <tr>
                    <td width="2"></td>
                    <!--icon-->
                    <td dir="<!--dir-->"><span class="lz_message_text"><!--message--></span></td>
                    <td width="2"></td>
                </tr>
            </table>
        </td>
        <td width="3" align="right" valign="top"></td>
    </tr>
    <tr>
        <td height="3" valign="bottom"></td>
        <td valign="bottom"></td>
    </tr>
</table>