<table onmouseout="parent.parent.lz_chat_feedback_switch(<!--box_id-->,1,false);" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="./images/chat_rating_star0.gif" alt="" id="lz_chat_star_<!--box_id-->_1"
                 onmouseover="parent.parent.lz_chat_feedback_switch(<!--box_id-->,1,true);"
                 onclick="parent.parent.lz_chat_feedback_set(<!--box_id-->,1);" class="lz_chat_clickable_image"
                 width="14" height="13" border="0"></td>
        <td><img src="./images/chat_rating_star0.gif" alt="" id="lz_chat_star_<!--box_id-->_2"
                 onmouseover="parent.parent.lz_chat_feedback_switch(<!--box_id-->,2,true);"
                 onclick="parent.parent.lz_chat_feedback_set(<!--box_id-->,2);" class="lz_chat_clickable_image"
                 width="14" height="13" border="0"></td>
        <td><img src="./images/chat_rating_star0.gif" alt="" id="lz_chat_star_<!--box_id-->_3"
                 onmouseover="parent.parent.lz_chat_feedback_switch(<!--box_id-->,3,true);"
                 onclick="parent.parent.lz_chat_feedback_set(<!--box_id-->,3);" class="lz_chat_clickable_image"
                 width="14" height="13" border="0"></td>
        <td><img src="./images/chat_rating_star0.gif" alt="" id="lz_chat_star_<!--box_id-->_4"
                 onmouseover="parent.parent.lz_chat_feedback_switch(<!--box_id-->,4,true);"
                 onclick="parent.parent.lz_chat_feedback_set(<!--box_id-->,4);" class="lz_chat_clickable_image"
                 width="14" height="13" border="0"></td>
        <td><img src="./images/chat_rating_star0.gif" alt="" id="lz_chat_star_<!--box_id-->_5"
                 onmouseover="parent.parent.lz_chat_feedback_switch(<!--box_id-->,5,true);"
                 onclick="parent.parent.lz_chat_feedback_set(<!--box_id-->,5);" class="lz_chat_clickable_image"
                 width="14" height="13" border="0"></td>
    </tr>
</table>
