<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td class="bt_header">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td><span class="bt_sub_header"><!--title--></span></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="bt_values" cellspacing="0" cellpadding="2" width="100%">
                <tr>
                    <td class="bt_column_header" width="<!--column_count_width-->">&nbsp;</td>
                    <td class="bt_column_header" width="*" NOWRAP><!--column_value_title--></td>
                    <td align="center" class="bt_column_header" width="50" NOWRAP><!--lang_stats_absolute--></td>
                    <td align="center" class="bt_column_header" width="104"><!--lang_stats_chart--></td>
                </tr>
                <!--rows-->
            </table>
        </td>
    </tr>
</table>
