<table cellpadding="0" cellspacing="0" align="center" width="900">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td class="header_line"><!--lang_stats_visitors--></td>
                    <td class="header_line" align="right"><!--header_span_overview--></td>
                </tr>
                <tr>
                    <td class="header_nav_line">&nbsp;&nbsp;<!--amount--> <!--lang_stats_visitors--></td>
                    <td class="header_nav_line" align="right">Status:&nbsp;&nbsp;<!--status-->&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="bt_values" cellspacing="0" cellpadding="2" width="100%">
                <tr>
                    <td class="bt_column_header" width="15">#</td>
                    <td class="bt_column_header" width="40" align="center"><!--lang_stats_pages--></td>
                    <td class="bt_column_header" width="60" align="center"><!--lang_stats_entrance--></td>
                    <td class="bt_column_header" width="60" align="center"><!--lang_stats_exit--></td>
                    <td class="bt_column_header" width="*"><!--lang_stats_country--></td>
                    <td class="bt_column_header" width="*"><!--lang_stats_city--></td>
                    <td class="bt_column_header" width="*"><!--lang_stats_browser--></td>
                    <td class="bt_column_header" width="*"><!--lang_stats_system--></td>
                    <td class="bt_column_header" width="25">&nbsp;</td>
                </tr>
                <!--visitors-->
            </table>
            <br>
        </td>
    </tr>
</table>
