<tr style="display:none;" class="bt_values_url" id="pl_<!--number--><!--oid-->">
    <td>&nbsp;</td>
    <td align="center"><!--id--></td>
    <td align="center"><!--entrance--></td>
    <td align="center"><!--exit--></td>
    <td colspan="5"><!--page--></td>
</tr>
