<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td class="bt_header"></td>
    </tr>
    <tr>
        <td>
            <table class="bt_values" cellspacing="0" cellpadding="2" width="100%">
                <tr>
                    <td class="bt_column_header" width="*"><!--title--></td>
                    <td align="left" class="bt_column_header" width="85"><!--lang_stats_value--></td>
                    <td align="center" class="bt_column_header" width="25"><!--lang_stats_trend--></td>
                </tr>
                <!--rows-->
            </table>
        </td>
    </tr>
</table>
