<tr height="19" style="display:none" id="<!--id-->">
    <td class="bt_values_inner_number"><!--count--></td>
    <td><!--title--></td>
    <td align="center" valign="middle">
        <div class="ico_trend_<!--trend-->"></div>
    </td>
    <td align="center"><!--abs_amount--></td>
    <td align="center"><!--rel_amount-->%</td>
    <td align="center"><img class="chart" src="" width="102" alt="0%" title="0%"
                            style="background-position: -<!--rel_floor_amount-->px 0pt;"></td>
</tr>
