<tr>
    <td>
        <a name="ddays"></a>
        <br>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="header_line"><!--lang_stats_by_days--></td>
            </tr>
            <tr>
                <td class="header_nav_line">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td style="display:<!--bdvv-->;"><a href="#dvisitors">
                                    <!--lang_stats_visitors_and_pages--></a></td>
                            <td style="display:<!--bdvcv-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--bdcv-->;"><a href="#dchats">
                                    <!--lang_stats_chats_and_availability--></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table id="d_visitors" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td width="440" valign="top"><a name="dvisitors"></a><!--stats_days_visitors--></td>
                <td width="*">&nbsp;</td>
                <td width="440" valign="top" align="right"><!--stats_days_impressions--></td>
            </tr>
        </table>
        <table id="d_chats" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td valign="top"><a name="dchats"></a><!--stats_days_chats--></td>
            </tr>
            <tr>
                <td valign="top"><!--stats_days_operators--></td>
            </tr>
        </table>
    </td>
</tr>
