<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td valign="top" style="border:0px;padding-top:5px;padding-left:0px;"><font
                    onClick="switchVisibility('<!--expand_all_block-->','');" class="header_link">
                <!--link_title--></font></td>
    </tr>
    <tr>
        <td valign="top" style="border:0px;padding-left:0px;">
            <table class="bt_values_inner" style="display:none;" id="<!--expand_all_block-->" cellspacing="0"
                   cellpadding="0" width="100%">
                <tr>
                    <td width="20"></td>
                    <td align="center" width="30"></td>
                    <td width="*" NOWRAP></td>
                </tr>
                <!--rows-->
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
