<table cellpadding="0" cellspacing="0" width="900">
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="header_line"><!--lang_stats_status_statistic_<!--stat_type-->--></td>
                <td class="header_line" align="right"><!--header_span_overview--></td>
            </tr>
            <tr>
                <td class="header_nav_line">&nbsp;&nbsp;<!--lang_stats_overview--></td>
                <td class="header_nav_line" align="right">Status:&nbsp;&nbsp;<!--status-->&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" class="main_stats" width="100%">
                        <tr>
                            <td class="main_stats_field" valign="top" width="24%">
                                <!--lang_stats_visitors-->
                                <table>
                                    <tr>
                                        <td><b><!--quick_value_11--></b>&nbsp;</td>
                                        <td>
                                            <div class="ico_trend_<!--quick_value_12-->"></div>
                                        </td>
                                    </tr>
                                </table>
                                <div><!--quick_value_17--> <em>unique</em> (<!--quick_value_18-->%)<br><!--quick_value_13-->
                                    <!--lang_stats_new--> (<!--quick_value_14-->%)<br><!--quick_value_15-->
                                    <!--lang_stats_recurring--> (<!--quick_value_16-->%)
                                </div>
                            </td>
                            <td class="main_stats_field" valign="top" width="18%">
                                <!--lang_stats_bounce_rate-->
                                <table>
                                    <tr>
                                        <td><b><!--quick_value_21-->%</b>&nbsp;</td>
                                        <td>
                                            <div class="ico_trend_<!--quick_value_22-->"></div>
                                        </td>
                                    </tr>
                                </table>
                                <div><!--quick_value_23--> <!--lang_stats_in_total--></div>
                            </td>
                            <td class="main_stats_field" valign="top" width="18%">
                                <!--lang_stats_conversion_rate-->
                                <table>
                                    <tr>
                                        <td><b><!--quick_value_51-->%</b>&nbsp;</td>
                                        <td>
                                            <div class="ico_trend_<!--quick_value_52-->"></div>
                                        </td>
                                    </tr>
                                </table>
                                <div><!--quick_value_53--> <!--lang_stats_in_total--></div>
                            </td>
                            <td class="main_stats_field" valign="top" width="17%">
                                Chats
                                <table>
                                    <tr>
                                        <td><b><!--quick_value_31--></b>&nbsp;</td>
                                        <td>
                                            <div class="ico_trend_<!--quick_value_32-->"></div>
                                        </td>
                                    </tr>
                                </table>
                                <div><!--quick_value_33--> <!--lang_stats_chat_average_waiting_time--></div>
                            </td>
                            <td class="main_stats_field" valign="top" width="*">
                                <!--lang_stats_operator_availability-->
                                <table>
                                    <tr>
                                        <td><b><!--quick_value_41-->%</b>&nbsp;</td>
                                        <td>
                                            <div class="ico_trend_<!--quick_value_42-->"></div>
                                        </td>
                                    </tr>
                                </table>
                                <div><!--quick_value_43--> <!--lang_stats_of--> <!--quick_value_44--></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br>
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td width="33%" valign="top"><!--stats_base_table_general--><br><!--stats_base_table_js-->
                            </td>
                            <td width="10"></td>
                            <td valign="top" width="*"><!--stats_base_table_chat--><br><!--stats_base_table_av--></td>
                            <td width="10"></td>
                            <td width="33%" valign="top"><!--stats_base_table_sources--></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td valign="top"><a name="ogoals"><br></a><!--goals--><br></td>
            </tr>
        </table>
    </td>
</tr>

<!--operators-->
<!--months-->
<!--days-->
<!--hours-->

<tr style="display:<!--topv-->;">
    <td>
        <a name="ttops"></a>
        <br>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="header_line">TOPs <!--lang_stats_visitors--></td>
            </tr>
            <tr>
                <td class="header_nav_line">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td style="display:<!--topvs-->;"><a href="#tsystems">
                                    <!--lang_stats_browser_and_system--></a></td>
                            <td style="display:<!--topvso-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--topvo-->;"><a href="#torigins"><!--lang_stats_origin--></a></td>
                            <td style="display:<!--topvov-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--topvv-->;"><a href="#tvisits"><!--lang_stats_visits--></a></td>
                            <td style="display:<!--topvvi-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--topvi-->;"><a href="#tisps"><!--lang_stats_isps--></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td colspan="3" valign="top"><a name="tsystems"></a><!--stats_top_systems--></td>
            </tr>
            <tr>
                <td width="440" valign="top"><!--stats_top_browsers--></td>
                <td width="*">&nbsp;</td>
                <td width="440" valign="top" align="right"><!--stats_top_resolutions--></td>
            </tr>
            <tr>
                <td colspan="3" valign="top"><a name="torigins"></a><!--stats_top_cities--></td>
            </tr>
            <tr>
                <td colspan="3" valign="top"><!--stats_top_regions--></td>
            </tr>
            <tr>
                <td width="440" valign="top"><!--stats_top_countries--></td>
                <td width="*">&nbsp;</td>
                <td width="440" valign="top" align="right"><!--stats_top_languages--></td>
            </tr>
            <tr>
                <td width="440" valign="top"><a name="tvisits"></a><!--stats_top_visits--></td>
                <td width="*">&nbsp;</td>
                <td width="440" valign="top" align="right"><!--stats_top_duration--></td>
            </tr>
            <tr>
                <td colspan="3"><a name="tisps"></a><!--stats_top_isps--></td>
            </tr>
        </table>
    </td>
</tr>
<tr style="display:<!--topp-->;">
    <td>
        <br>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="header_line">TOPs <!--lang_stats_pages--></td>
            </tr>
            <tr>
                <td class="header_nav_line">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td style="display:<!--toppp-->;"><a href="#tpages"><!--lang_stats_pages--></a></td>
                            <td style="display:<!--topppe-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--toppe-->;"><a href="#tentranceexit"><!--lang_stats_entrance_pages-->
                                    &amp; <!--lang_stats_exit_pages--></a></td>
                            <td style="display:<!--toppes-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--topps-->;"><a href="#tsearch"><!--lang_stats_search_engines--></a>
                            </td>
                            <td style="display:<!--toppsr-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--toppr-->;"><a href="#treferrers"><!--lang_stats_referrers--></a></td>
                            <td style="display:<!--topprd-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--toppd-->;"><a href="#tdomains"><!--lang_stats_domains--></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="height:200px;" valign="top">
        <table cellspacing="0" cellpadding="0" width="100%" id="p_pages">
            <tr>
                <td><a name="tpages"></a><!--stats_top_pages--></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" width="100%" id="p_entrance_exit_pages">
            <tr>
                <td><a name="tentranceexit"></a><!--stats_top_pages_entrance--></td>
            </tr>
            <tr>
                <td><!--stats_top_pages_exit--></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" width="100%" id="p_search">
            <tr>
                <td><a name="tsearch"></a><!--stats_top_queries--></td>
            </tr>
            <tr>
                <td><!--stats_top_search_engines--></td>
            </tr>
            <tr>
                <td><!--stats_top_crawlers--></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" width="100%" id="p_referrers">
            <tr>
                <td><a name="treferrers"></a><!--stats_top_referrers--></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" width="100%" id="p_domains">
            <tr>
                <td><a name="tdomains"></a><!--stats_top_domains--></td>
            </tr>
        </table>
    </td>
</tr>
</table>
