<tr>
    <td>
        <a name="hhours">
            <br>
            <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td class="header_line"><!--lang_stats_by_hours--></td>
                </tr>
                <tr>
                    <td class="header_nav_line">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td>&nbsp;&nbsp;</td>
                                <td style="display:<!--bhvv-->;"><a href="#hvisitors">
                                        <!--lang_stats_visitors_and_pages--></a></td>
                                <td style="display:<!--bhvcv-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                                <td style="display:<!--bhcv-->;"><a href="#hchats">
                                        <!--lang_stats_chats_and_availability--></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
    </td>
</tr>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td width="440" valign="top"><a name="hvisitors"></a><!--stats_hours_visitors--></td>
                <td width="*">&nbsp;</td>
                <td width="440" valign="top" align="right"><!--stats_hours_impressions--></td>
            </tr>
            <tr>
                <td valign="top" colspan="3"><a name="hchats"></a><!--stats_hours_chats--></td>
            </tr>
            <tr>
                <td valign="top" align="right" colspan="3"><!--stats_hours_operators--></td>
            </tr>
        </table>
    </td>
</tr>
