<tr>
    <td height="19" valign="top"><!--count--></td>
    <td NOWRAP valign="top"><!--title--></td>
    <td align="center" valign="top">
        <div class="ico_trend_<!--trend-->"></div>
    </td>
    <td align="center" NOWRAP valign="top"><!--abs_amount--></td>
    <td align="center" NOWRAP valign="top"><!--rel_amount-->%</td>
    <td align="center" NOWRAP valign="top"><img class="chart" src="" width="102" alt="0%" title="0%"
                                                style="background-position: -<!--rel_floor_amount-->px 0pt;"></td>
</tr>
