<tr>
    <td><!--count--></td>
    <td NOWRAP><!--title--></td>
    <td align="center" NOWRAP><!--abs_amount--></td>
    <td align="center" NOWRAP><img class="chart" src="" width="102" alt="0%" title="0%"
                                   style="background-position: -<!--rel_floor_amount-->px 0pt;"></td>
</tr>
