<tr>
    <td>
        <a name="ooperators"></a>
        <br>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="header_line"><!--lang_stats_by_operators--></td>
            </tr>
            <tr>
                <td class="header_nav_line">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td style="display:<!--boav-->;"><a href="#oavailability">
                                    <!--lang_stats_operator_availability--></a></td>
                            <td style="display:<!--boavcv-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--bocv-->;"><a href="#ochats"><!--lang_stats_chats--></a></td>
                            <td style="display:<!--boavcv-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--bocv-->;"><a href="#oduration">
                                    <!--lang_stats_chat_average_duration--></a></td>
                            <td style="display:<!--boavcv-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--bocv-->;"><a href="#oresponsetime">
                                    <!--lang_stats_response_time--></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td valign="top"><a name="oavailability"></a><!--stats_operator_availability--></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td valign="top"><a name="ochats"></a><!--stats_operator_chats--></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td valign="top"><a name="oduration"></a><!--stats_operator_chat_duration--></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td valign="top"><a name="oresponsetime"></a><!--stats_operator_response_time--></td>
            </tr>
        </table>
    </td>
</tr>
