<tr>
    <td>
        <a name="mmonths"></a>
        <br>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="header_line"><!--lang_stats_by_months--></td>
            </tr>
            <tr>
                <td class="header_nav_line">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td style="display:<!--bmvv-->;"><a href="#mvisitors">
                                    <!--lang_stats_visitors_and_pages--></a></td>
                            <td style="display:<!--bmvcv-->;">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                            <td style="display:<!--bmcv-->;"><a href="#mchats">
                                    <!--lang_stats_chats_and_availability--></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table id="m_visitors" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td width="440" valign="top"><a name="mvisitors"></a><!--stats_months_visitors--></td>
                <td width="*">&nbsp;</td>
                <td width="440" valign="top" align="right"><!--stats_months_impressions--></td>
            </tr>
        </table>
        <table id="m_chats" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td valign="top"><a name="mchats"></a><!--stats_months_chats--></td>
            </tr>
            <tr>
                <td valign="top"><!--stats_months_operators--></td>
            </tr>
        </table>
    </td>
</tr>
