<table width="100%" cellspacing="0" cellpadding="0" id="p_url_top_<!--id-->">
    <tr>
        <td class="bt_header">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td><span class="bt_sub_header"><!--title--> (<!--tab_title_1-->)</span></td>
                    <td align="right" valign="bottom">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top">
                                    <div onClick="switchVisibility('p_title_top_<!--id-->','header');switchVisibility('p_url_top_<!--id-->','header');"
                                         class="header_link"><!--tab_title_2--></div>
                                </td>
                                <td valign="top">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                                <td valign="top">
                                    <div class="header_link_selected"><!--tab_title_1--></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="bt_values" cellspacing="0" cellpadding="1" width="100%">
                <tr>
                    <td class="bt_column_header" width="15" height="19">&nbsp;</td>
                    <td class="bt_column_header" width="*" NOWRAP><!--column_value_title--></td>
                    <td align="center" class="bt_column_header" width="25"><!--trend--></td>
                    <td align="center" class="bt_column_header" width="95"><!--lang_stats_absolute--></td>
                    <td align="center" class="bt_column_header" width="50"><!--lang_stats_relative--></td>
                    <td align="center" class="bt_column_header" width="104"><!--lang_stats_chart--></td>
                </tr>
                <!--rows_1-->
            </table>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" style="display:none;" id="p_title_top_<!--id-->">
    <tr>
        <td class="bt_header">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td><span class="bt_sub_header"><!--title--> (<!--tab_title_2-->)</span></td>
                    <td align="right" valign="bottom">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top">
                                    <div class="header_link_selected"><!--tab_title_2--></div>
                                </td>
                                <td valign="top">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                                <td valign="top">
                                    <div onClick="switchVisibility('p_title_top_<!--id-->','header');switchVisibility('p_url_top_<!--id-->','header');"
                                         class="header_link"><!--tab_title_1--></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="bt_values" cellspacing="0" cellpadding="1" width="100%">
                <tr>
                    <td class="bt_column_header" width="15" height="19">&nbsp;</td>
                    <td class="bt_column_header" width="*" NOWRAP><!--column_value_title--></td>
                    <td align="center" class="bt_column_header" width="25"><!--trend--></td>
                    <td align="center" class="bt_column_header" width="50"><!--lang_stats_absolute--></td>
                    <td align="center" class="bt_column_header" width="50"><!--lang_stats_relative--></td>
                    <td align="center" class="bt_column_header" width="104"><!--lang_stats_chart--></td>
                </tr>
                <!--rows_2-->
            </table>
        </td>
    </tr>
</table>

