<tr>
    <td><!--number--></td>
    <td align="center"><a href="javascript:switchRowVisibility('pl_<!--number-->');"><strong><!--pages--></strong></a>
    </td>
    <td align="center"><!--entrance--></td>
    <td align="center"><!--exit--></td>
    <td NOWRAP><!--country_name--></td>
    <td NOWRAP><!--city--></td>
    <td NOWRAP><!--browser--></td>
    <td NOWRAP><!--system--></td>
    <td class="<!--vclass-->" align="right">
        <div class="ico_info"
             onclick="showInfoBox('<!--isp-->','<!--visits-->','<!--visits_day-->','<!--ip-->','<!--host-->','<!--id-->',this); return true;"></div>
    </td>
</tr>
