<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td class="bt_header">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td><span class="bt_sub_header"><!--title--></span></td>
                    <td align="right" valign="bottom">
                        <table cellspacing="0" cellpadding="0" style="display:<!--expand_all-->;">
                            <tr>
                                <td valign="top">
                                    <div onClick="expandBlock('<!--expand_all_block-->',true);" class="header_link">
                                        <!--lang_stats_expand_all--></div>
                                </td>
                                <td valign="top">&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                                <td valign="top">
                                    <div onClick="expandBlock('<!--expand_all_block-->',false);" class="header_link">
                                        <!--lang_stats_collapse_all--></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="bt_values" cellspacing="0" cellpadding="1" width="100%">
                <tr>
                    <td class="bt_column_header" width="<!--column_count_width-->" height="19">&nbsp;</td>
                    <td class="bt_column_header" width="*" NOWRAP><!--column_value_title--></td>
                    <td align="center" class="bt_column_header" width="25"><!--trend--></td>
                    <td align="center" class="bt_column_header" width="95"><!--lang_stats_absolute--></td>
                    <td align="center" class="bt_column_header" width="50"><!--lang_stats_relative--></td>
                    <td align="center" class="bt_column_header" width="104"><!--lang_stats_chart--></td>
                </tr>
                <!--rows-->
            </table>
            <div align="right" class="description"><!--description--></div>
        </td>
    </tr>
</table>
