* {
    -webkit-text-size-adjust: none;
    font-size: 12px;
    font-family: helvetica, arial, verdana;
    color: #666666;
}

BODY {
}

TD {
}

OPTION {
    padding: 2px;
    color: #000000;
}

SELECT {
    border-radius: 2px;
    border: 1px solid #9d9d9d;
    background: #fcfcfc;
}

INPUT, TEXTAREA {
    color: #000000;
}

BUTTON {
    cursor: pointer;
    padding-top: 1px;
}

#lz_chat_buy_voucher {
    width: 100%;
}

#lz_chat_param {
    background: #8C8C8C;
    width: 100%;
    height: 20px;
    text-align: center;
}

#lz_chat_floor {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}

#lz_chat_floor * {
    position: absolute;
}

#lz_chat_text {
    border: 1px solid #6a6a6a;
    height: 100%;
    width: 100%;
    resize: vertical;
}

#lz_chat_operator_typing_info {
    left: 20px;
    bottom: 0;
    white-space: nowrap;
    font-weight: bold;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 3px 10px 0 23px;
    background-image: url('./../images/icon_talk.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

#lz_chat_submit {
    right: 10px;
    top: 10px;
    border: 0px;
    width: 48px;
    height: 40px;
    background-color: #8c8c8c;
    border-radius: 3px;
    background-image: url('./../images/lz_button_chat.gif');
    cursor: pointer;
    font-size: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#lz_chat_misc {
    border-top: 1px solid #c3c3c3;
    background-color: #e1e1e1;
    padding: 12px;
    padding-top: 4px;
    background-repeat: repeat-x;
}

#lz_chat_misc SELECT, INPUT {
    font-size: 12px;
}

#lz_chat_translation_target_language {
    height: 20px;
    width: 150px;
    padding: 1px;
}

#lz_chat_transcript_email {
    padding: 0 0 0 3px;
    height: 20px;
    width: 150px;
    border-radius: 2px;
    border: 1px solid #9d9d9d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

#lz_chat_misc TD {
    color: #414141;
}

#lz_chat_subline {
    position: absolute;
    bottom: 4px;
    left: 10px;
    z-index: 10;
    height: 11px;
}

#lz_chat_subline TD {
    font-size: 11px;
    color: #505050;
    line-height: 12px;
}

#lz_chat_representative {
    top: 0px;
    right: 9px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}

#lz_chat_representative table {
    background: #eeeeee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#lz_chat_loading {
    margin-top: 250px;
    background: #FFFFFF;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    font-size: 14px;
    top: 0px;
    color: #b7b7b7;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}

#lz_chat_login {
    width: 100%;
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    height: 100%
}

#lz_form_values {
    display: none;
}

#lz_chat_alert_box_text_frame {
    background: #FFFFFF;
    padding: 20px 20px 25px 20px;
}

#lz_chat_alert_box_text {
    color: #000000 !important;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#lz_chat_alert_header {
    background: #8c8c8c;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px;
}

#lz_chat_alert_box {
    vertical-align: bottom;
    text-align: center;
    position: absolute;
    z-index: 999;
    background: #f0f0f0;
    border: 1px solid #666666;
    max-width: 390px;
    width: 90%;
    display: none;
    -moz-box-shadow: 5px 5px 5px #8d8d8d;
    -webkit-box-shadow: 5px 5px 5px #8d8d8d;
    box-shadow: 5px 5px 5px #8d8d8d;
    border-radius: 1px;
}

#lz_chat_ticket_success {
    font-size: 12px;
    color: #787878;
    font-weight: bold;
    width: 80%;
}

#lz_chat_extend_voucher_success td {
    font-size: 12px;
    color: #787878;
    font-weight: bold;
    padding: 30px;
}

#lz_chat_mail_values {
    display: none;
}

#lz_chat_pic {
    background: #F6F6F6;
    border: 1px solid #b0b0b0;
    width: 70px;
    color: #000000;
    overflow: hidden;
    border-radius: 4px;
}

#lz_chat_main {
    margin: 0px;
    padding: 8px 0 5px 0;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 70px;
}

#lz_chat_main a {
    font-size: 12px;
    color: #787878;
    text-decoration: underline;
}

#lz_chat_alert_bg {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: Black;
    z-index: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=25)';
    filter: alpha(opacity=25);
    opacity: .25;
}

#lz_chat_call_me_back_info {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 1000;
}

#lz_chat_call_me_back_st {
    font-size: 16px;
    font-weight: bold;
}

.lz_chat_link {
    color: #787878;
    text-decoration: underline;
    padding-left: 18px;
    background-image: url('./../images/icon_link.png');
    background-repeat: no-repeat;
    background-position: left;
}

.lz_chat_file {
    color: #787878;
    text-decoration: underline;
    padding-left: 17px;
    background-image: url('./../images/icon_file.png');
    background-repeat: no-repeat;
    background-position: left;
}

.lz_chat_mail {
    color: #787878;
    text-decoration: underline;
    padding-left: 17px;
    background-image: url('./../images/icon_mail.png');
    background-repeat: no-repeat;
    background-position: left;
}

#lz_chat_site_title {
    color: #FFFFFF;
    font-weight: bold;
}

#lz_chat_file_base {
    position: absolute;
    top: 17px;
    left: 172px;
    z-index: 3;
    height: 22px;
    cursor: pointer;
    width: 212px;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

#lz_chat_file_title {
    position: absolute;
    top: 22px;
    left: 0px;
    z-index: 2;
    width: 60px;
    text-align: right;
    font-weight: bold;
}

#lz_chat_file_name {
    position: absolute;
    top: 17px;
    left: 67px;
    z-index: 3;
    width: 204px;
    height: 18px;
}

#lz_chat_file_load {
    position: absolute;
    background: #F9F9F9;
    width: 260px;
    height: 30px;
    top: 15px;
    left: 20px;
    z-index: 5;
    display: none;
    background-image: url('./../images/chat_loading.gif');
    background-repeat: no-repeat;
    background-position: 50%;
}

#lz_chat_file_success {
    position: absolute;
    top: 16px;
    right: 14px;
    z-index: 5;
    display: none;
}

#lz_chat_file_error {
    position: absolute;
    top: 16px;
    right: 14px;
    z-index: 5;
    display: none;
}

#lz_chat_file_select {
    top: 17px;
    left: 285px;
    cursor: pointer;
    height: 24px;
    position: absolute;
    z-index: 2;
    width: 100px;
    padding-bottom: 1px;
}

#lz_chat_file_send {
    top: 17px;
    left: 390px;
    cursor: pointer;
    height: 24px;
    position: absolute;
    z-index: 2;
    width: 100px;
    padding-bottom: 1px;
}

#lz_chat_file_frame {
    width: 100%;
}

.lz_chat_function_frame {
    overflow: auto;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    height: 0;
    width: 100%;
    background: #F9F9F9;
    vertical-align: middle;
    border-bottom: 1px solid #b7b7b7;
    z-index: 10000;
}

#lz_chat_function_splitter {
    left: 0px;
    top: 0px;
    height: 3px;
    width: 100%;
}

#lz_chat_emoticons_frame {
    text-align: center;
}

#lz_chat_internal_fullname {
    color: #777777;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#lz_chat_internal_groupname {
    color: #777777;
}

#lz_chat_logo {
    position: absolute;
    z-index: 1;
    margin: 0px;
    top: 0px;
    left: 0px;
}

#lz_chat_top_bg {
    position: absolute;
    z-index: 0;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
}

#lz_chat_vcard_box A {
    text-decoration: none;
}

#lz_chat_error_field {
    visibility: hidden;
    width: 100%;
    text-align: center;
}

#lz_chat_groups_loading {
    visibility: hidden;
    margin-left: 10px;
}

#lz_chat_body_chat_function {
    background: #F9F9F9;
}

#lz_chat_rate_comment {
    height: 40px;
    resize: none;
    min-width: 100px;
}

#lz_chat_rate_button {
    height: 24px;
    width: 100px;
    padding-bottom: 1px;
}

#lz_chat_queue_position {
    font-weight: bold;
}

#lz_chat_queue_waiting_time {
    font-weight: bold;
}

#lz_chat_com_frame {
    overflow: hidden;
    background: #f5f5f5;
}

#lz_chat_com_frame DIV {
    border-top: 1px solid #e3e3e3;
    width: 100%;
}

#lz_chat_com_frame TABLE {
    margin: 2px 10px;
}

#lz_chat_com_frame TD {
    vertical-align: middle;
    height: 22px;
}

.lz_chat_com_chat_voucher_link {
    font-size: 11px;
    color: #0066ff;
    text-decoration: none;
}

.lz_chat_com_chat_voucher_link:hover {
    text-decoration: underline;
}

#lz_chat_com_chat_change_div {
    padding: 4px;
    width: 295px;
    height: 150px;
    overflow: auto;
    margin-top: 10px;
}

#lz_chat_com_chat_change_div td {
    background: #f5f5f5;
}

#lz_chat_com_chat_change_div table {
    background: #f5f5f5;
    border-radius: 10px;
}

.lz_chat_com_chat_panel_value {
    color: #53a526;
    font-weight: bold;
}

.lz_chat_com_chat_panel_value_over {
    font-weight: bold;
    color: #ff3333;
}

.lz_chat_com_chat_panel_value_close {
    font-weight: bold;
    color: #ff6600;
}

#lz_chat_com_voucher_pp {
    position: absolute;
    left: 40px;
    bottom: 10px;
    z-index: 10;
}

.lz_chat_call_me_now {
    padding: 5px;
    width: 100%;
    max-width: 500px;
}

#lz_chat_waiting_links li {
    margin: 7px 0px 0px 0px;
}

.lz_input_icon {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    line-height: 1px;
}

.lz_required {
    background-image: url('./../images/lz_icon_required.png');
}

.lz_info {
    background-image: url('./../images/lz_icon_info.png');
    cursor: pointer;
}

.lz_input {
    width: 100%;
    min-width: 50px;
    max-width: 460px;
    margin: 0 0 5px 0;
    padding: 0 10px 0 10px;
}

.lz_form_icon {
    width: 16px;
    padding: 0 5px;
}

.lz_input_com td {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.lz_input_com strong {
}

.lz_input_header {
    overflow: hidden;
    background: #f9f9f9;
    height: 80px;
    color: #727372;
    width: 100%;
    max-height: 80px;
    margin-bottom: 15px;
}

#lz_header_type_icon {
    width: 70px;
    height: 51px;
    background: no-repeat;
    background-position: 50% 15px;
    text-align: right;
}

#lz_header_icon_operator {
    border-radius: 7px;
    border: 3px solid #dbdbdb;
    width: 60px;
    height: 45px;
    margin: 4px 0 0 0;
}

#lz_header_icon_operator_close {
    padding: 3px;
    border-radius: 5px;
    background: #dbdbdb;
    margin: 10px 0 0 -14px;
    position: absolute;
    cursor: pointer;
    zindex: 10px;
}

#lz_header_target {
    font-weight: normal;
    padding-left: 6px;
    color: #7d7d7d;
}

#lz_header_title {
    font-size: 14px;
    font-weight: bold;
}

.lz_chat_rating_text {
    background: #F6F6F6;
    font-weight: bold;
}

.lz_chat_clickable_image {
    cursor: pointer;
    margin: 0 3px 0 2px;
    opacity: 1.0;
    border-radius: 2px;
}

.lz_chat_clickable_image:hover {
    opacity: 0.8;
}

.lz_form_button {
    padding: 0px 15px 1px 15px;
    height: 24px;
    color: #424242;
    margin: 3px;
    cursor: pointer;
}

.lz_form_box {
    padding: 2px;
    border: 1px solid #9f9f9f;
    width: 100%;
    height: 23px;
    border-radius: 3px;
    background: #f7f7f7;
}

.lz_form_area {
    padding: 2px;
    border: 1px solid #9f9f9f;
    width: 100%;
    height: 130px;
}

.lz_form_check {
    padding: 0px;
    margin: 0px;
}

.lz_form_field {
    font-size: 12px;
    white-space: nowrap;
    width: 35%;
    min-width: 35px;
    max-width: 200px;
    margin: 0 5px 5px 5px;
    height: 25px;
    border-right: 5px solid #FFF;
    border-radius: 5px;
    text-align: right;
    padding: 3px 10px 3px 5px;
}

.lz_form_info_box {
    text-align: left;
    color: #333333;
    z-index: 100;
    width: 200px;
    position: absolute;
    display: none;
    padding: 7px;
    background: #fffdcf;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #a9a9a9;
}

.lz_form_info_box * {
    color: #333333;
}

.lz_chat_main_link {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 20px;
}

.lz_chat_internal_file_link {
    color: #868686;
    font-size: 9px;
    font-weight: normal;
    text-decoration: none;
}

.lz_chat_voucher_price {
    color: #006633;
    font-weight: bold;
    text-align: right;
}

.lz_chat_ticket_title {
    font-size: 12px;
    font-weight: bold;
}

.lz_chat_voucher_type {
    background: #f7f7f7;
    width: 100%;
    max-width: 430px;
    padding: 7px;
    border-top: 5px solid #EEEEEE;
}

.lz_chat_voucher_navigation {
    right: 30px;
    width: 290px;
    height: 50px;
    background: #f3f3f3;
    position: absolute;
    bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}

.lz_message_a_title {
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    font-family: verdana, helvetica, arial;
    padding-bottom: 0;
}

.lz_message_a_time {
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    font-family: verdana, helvetica, arial;
    padding-bottom: 0;
}

.lz_message_b {
    color: #7a7a7a;
    font-weight: bold;
    font-size: 10px;
    font-family: verdana, helvetica, arial;
    padding-bottom: 0;
}

.lz_message_text {
    color: #333333;
    font-weight: normal;
    font-size: 12px;
    font-family: verdana, helvetica, arial;
}

.lz_message_text * {
    color: #333333;
    font-size: 12px;
    font-family: verdana, helvetica, arial;
}

.lz_message_text a {
    color: #666666;
}

.lz_message_translation {
    border-left: 0px solid #99ccff;
    margin-top: 4px;
    padding-left: 5px;
    color: #666666;
    font-style: italic;
    font-family: verdana, helvetica, arial;
}

.lz_index_help_text {
    text-align: left;
    color: #6c6c6c;
    white-space: nowrap;
    padding-left: 10px;
    padding-bottom: 5px;
}

.lz_index_red {
    color: #c40000;
    font-weight: bold;
}

.lz_index_blue {
    color: #0099ff;
    font-weight: bold;
}

.lz_index_howto_cat {
    color: #5C5C5C;
    font-weight: bold;
}

.lz_index_error_cat {
    color: #3A3A3A;
    font-weight: bold;
}

.lz_index_helplink {
    font-size: 10px;
    font-weight: bold;
    color: #7F7F7F;
    text-decoration: underline;
}

.lz_index_link {
    font-weight: bold;
    color: #7BB05D;
    text-decoration: none;
}

.lz_index_link:hover {
    font-weight: bold;
    color: #666666;
    text-decoration: none;
}

.lz_index_box {
    background-color: #FAFAFA;
    border: 1px solid #777777;
    color: #000000;
}

.lz_index_inner_box {
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #777777;
    color: #000000;
}

.lz_index_description_box {
    color: #000000;
}

.lz_index_light_text {
    color: #666666;
}

#lz_chat_navigation {
    overflow: hidden;
    z-index: 10000;
    display: none;
    margin: 0px;
    padding: 0px;
    background: #8C8C8C;
    width: 100%;
    height: 37px;
    border: 0px;
    background-image: url('./../images/chat_line.gif');
    background-position: 0% 36px;
    background-repeat: repeat-x;
}

.lz_chat_navigation_tabs {
    background: #000000;
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
    margin: 2px;
    padding: 0px;
}

.lz_chat_navigation_tabs li {
    font-weight: bold;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.lz_chat_navigation_tab {
    text-align: center;
    min-width: 60px;
    height: 24px;
    text-shadow: 1px 1px #FFFFFF;
    margin: 6px 2px 0px 2px;
    float: left;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0;
    line-height: 26px;
    padding: 2px 14px 1px 14px;
    background: #dfdfdf;
    border: 1px solid #787878;
    color: #b5b5b5;
    border-bottom: 1px solid #787878;
}

.lz_chat_navigation_tab_hover {
    background-color: #f4f4f4;
}

.lz_chat_navigation_tab_active {
    background: #fafafa;
    border: 1px solid #787878;
    color: #727372;
    padding: 2px 14px 2px 14px;
}

.lz_chat_navigation_tab_chat {
    line-height: 28px;
}

#lz_chat_navigation_status {
    overflow: hidden;
    margin: 1px;
    font-weight: bold;
    text-align: center;
    z-index: 10001;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 18px;
    top: 3px;
    min-width: 60px;
    line-height: 100px;
    padding: 0 14px 0 14px;
    background-position: 50% 0px;
}

.lz_chat_navigation_status_online {
    background-image: url('./../images/lz_status_online.png');
}

.lz_chat_navigation_status_offline {
    background-image: url('./../images/lz_status_offline.png');
}