#lz_chat_alert_box * {
    font-family: arial, verdana;
    font-size: 12px;
}

#lz_chat_alert_box_text_frame {
    color: #000000;
    background: #FFFFFF;
    padding: 10px 20px 15px 20px;
}

#lz_chat_alert_box_text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    min-height: 60px;
}

#lz_chat_alert_header {
    background: #8c8c8c;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px;
    width: 384px;
}

#lz_chat_alert_box {
    vertical-align: bottom;
    text-align: center;
    position: absolute;
    z-index: 999;
    background: #f0f0f0;
    border: 1px solid #666666;
    max-width: 390px;
    display: none;
    -moz-box-shadow: 5px 5px 5px #8d8d8d;
    -webkit-box-shadow: 5px 5px 5px #8d8d8d;
    box-shadow: 5px 5px 5px #8d8d8d;
    border-radius: 3px;
}

.lz_chat_main_link {
    color: #AAAAAA;
    font-size: 11px;
    font-family: verdana, arial;
    text-decoration: none;
}

.lz_form_button {
    padding: 0px 15px 1px 15px;
    height: 24px;
    cursor: pointer;
    font-size: 12px;
}

.lz_chat_clickable_image {
    cursor: pointer;
}

.unmovable {
    cursor: default;
    padding: 0px;
}

#csschktr {
    display: none;
}

