<html>
<head>
    <title>LiveZilla Live Support - http://www.livezilla.net</title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="robots" content="index">
    <meta name="author" content="LiveZilla GmbH">
    <meta name="description" content="LiveZilla - Live Support">
    <meta name="keywords"
          content="live, support, livezilla, live support, customer support, livechat, livehelp, help desk, helpdesk">
    <meta http-equiv="refresh" content="5;url=./index.php">
    <STYLE type="text/css">
        * {font-family:verdana,arial;font-size:13px;color:#616161;} a {color:#616161;font-size:12px;font-weight:bold;text-decoration:none;} . redirect {padding-top:8px;font-size:11px;color:#616161;} . redirect a

        {color:#78ad5a;font-size:11px;}
    </STYLE>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<br><br>
<table border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td align="center"><img src="./images/lz_index_logo.gif" alt="" border="0" style="margin-right:1px;"></td>
    </tr>
    <tr>
        <td><br><br><br><strong>Thank you for using LiveZilla!</strong></td>
    </tr>
    <tr>
        <td class="redirect">You will be redirected to the LiveZilla Server Page of this installation<br>shortly - <a
                    href="./index.php">Please click if redirection doesn't work ...</a></td>
    </tr>
    <tr>
        <td>
            <hr width="100%" size="0">
        </td>
    </tr>
    <tr>
        <td><a href="http://www.livezilla.net">LiveZilla Live Support - http://www.livezilla.net</a></td>
    </tr>
</table>
</body>
</html>