<table cellpadding="0" cellspacing="0" style="background:white;width:<!--width-->px;height:<!--height-->px;">
    <tr>
        <td colspan="3" style="background:white;height:5px;"></td>
    </tr>
    <tr>
        <td style="background:white;width:5px;"></td>
        <td style="background:white;vertical-align:top;">
            <img style="position:absolute;right:0px;top:0px;cursor:pointer;"
                 src="<!--server-->templates/overlays/angled/close.png" alt=""
                 onclick="lz_overlay_box.lz_livebox_close('lz_overlay_box');top.lz_tracking_action_result('overlay_box',false,true);"
                 width="46" height="46" border="0">
            <!--content-->
        </td>
        <td style="background:white;width:5px;"></td>
    </tr>
    <tr>
        <td colspan="3" style="background:white;height:5px;"></td>
    </tr>
</table>
