.reghidden {
    display: none;
}

.errorClass
{
    border: 2px solid red;
}

.treeview ul {
    background-color: #e8f5f6;
;
}

.hrefstyle {
    color: #006699;
    text-decoration: underline;
    cursor: pointer;
}

.optionContent {
    padding: 5px;
}

.optionItem {
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 5px;
}