.hrefstyle {
    color: #006699;
    text-decoration: underline;
    cursor: pointer;
}

.modal-row {
    text-align: center;
    background-color: #e8f5f6;
	padding-bottom:30px;
}

.modal-row .span6 {
    width: 864px;
    text-align: left;
    background-color: #e8f5f6;
    padding: 26px 30px 30px 30px;
    /*min-height: 692px;*/
    float: none;
    display: inline-block;
    /*margin-top: 93px;*/
}

.modal-row .span4 {
    width: 472px;
}

.modal-row .span2 {
    width: 301px;
    margin-left: 29px !important;
}

.logo-place {
    width: 472px;
    text-align: center;
    display: block;
    margin-top: 30px;
}

.modal-row h1 {
    text-transform: none;
    font-size: 26px;
    line-height: 26px;
}

.modal-row h2 {
    font-size: 17px;
    line-height: 17px;
}

.modal-row h3 {
    font-size: 18px;
    line-height: 18px;
}

.modal-row h4 {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}

.top-nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.top-nav li {
    display: inline-block;
}

.main-menu {
    list-style: none;
    padding: 0px 0px 0px 14px;
    margin: 27px 0px 0px -30px;
    width: 864px;
    background-color: #1bbc9d;
    display: inline-block;
}

.main-menu li {
    display: inline-block;
    float: left;
}

.main-menu li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 21px 14px 18px 14px;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
}

.main-menu li a:hover, .main-menu li a.active {
    background-color: #e8f5f6;
    color: #2c3d51;
}

.share {
    float: right;
    /*background-image: url("../images/share.png");*/
    background-image: url("../images/icons/svg/share-alt.svg");
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 6px 53%;
    padding-left: 28px !important;
    text-shadow: 1px 1px 0px rgba(26, 125, 62, 1) !important;
}

.share:hover {
    background-color: #099B85 !important;
}

.content-block {
    background-color: #ffffff;
    /*color: #ffffff;*/
    width: 100%;
    padding: 0px 0px 36px 0px;
    margin-top: 30px;
}

.content-block h2, .content-block h3 {
    color: #ffffff;
    display: block;
    background-color: #1bbc9d;
    padding: 20px 19px 15px 19px;
    margin: 0px 0px 28px 0px;
}

.content-block span {
    display: block;
    margin-bottom: 10px;
    margin-left: 25px;
}

.content-block p {
    text-align: justify;
    padding-left: 25px;
    padding-right: 28px;
}

span.phones {
    font-weight: bold;
}

.myBigMap {
    width: 800px;
    height: 470px;
/*    background-color: #ffffff;
    margin-top: 29px;*/
}

#myBigMap, #slider {
    width: 800px;
    height: 470px;
    background-color: #ffffff;
    margin-top: 29px;
}

#slider .container {
    margin: 0px;
    padding: 0px;
}

.carousel-control.right, .carousel-control.left {
    background: #1bbc9d none;
    /*opacity: 1;*/
    width: 60px;
    height: 60px;
    top: 205px;
}

.carousel-control .glyphicon-chevron-left {
    top: 20px;
    left: 20px;
}

.carousel-control .glyphicon-chevron-right {
    top: 20px;
    right: 20px;
}

.details-span {
    display: block;
    float: none;
    margin-left: 0px;
    margin-bottom: 13px;
}

/* Настраиваем модальное окно - начало */

.modal-dialog {
    width: 866px;
    margin: 93px auto;
}

.modal-header {
    border-bottom: none;
}

.modal-header .close {
    margin-top: -8px;
}

.modal-body {
    padding: 0px;
}

/* Настраиваем модальное окно - конец */

.order {
    background-color: #3597d5;
    padding: 27px 30px;
    width: 864px;
    margin-left: -30px;
    color: #ffffff;
    min-height: 144px;
}

.order .order-header {
    /*background: url("../images/big_fake.png") no-repeat 0% 50%;*/
    background: url("../images/icons/svg/windows.svg") no-repeat 0% 50% / 32px;
    height: 33px;
    display: inline-block;
    font-size: 17px;
    margin-top: 15px;
    padding-left: 65px;
    width: 100%;
    margin-bottom: 20px;
}

.order .order-header span {
    display: inline-block;
    margin-top: 5px;
}

.order .order-header button {
    float: right;
    font-size: 12px;
    line-height: 10px;
    width: 74px;
    height: 31px;
}

.order .order-info .date {
    margin: 0px 0px 0px 0px;
}

.order .order-info .discription {
    margin: 0px 0px 0px 65px;
}

.order.nobg {
    background-color: transparent;
    color: #2c3d51;
}

.order.nobg .order-header {
    background: url("../images/icons/svg/windows_dark.svg") no-repeat 0% 50% / 32px;
}

.orders-list {
    margin-top: 18px;
}
.order:nth-child(2n){

    background-color: transparent;
    color: #2c3d51;
}
.order:nth-child(2n) .order-header {
  background: url("../images/icons/svg/windows_dark.svg") no-repeat 0% 50% / 32px;
}

.modal-row h6 {
    margin: 7px 0px;
}

.steps {
    margin-top: 51px;
    margin-bottom: 51px;
}

.marginbottom {
    margin: 0px !important;
    padding: 0px !important;
}

#auth {
    margin-top: 49px;
    margin-bottom: 45px;
}

#auth .reg-row {
    margin-bottom: 29px;
}

/* Переписываем стили табов - начало */

.tab-pane {
    text-align: center;
}

.modal .nav-tabs {
    border-bottom: none;
}

.modal .nav-tabs>li>a,.modal .nav-tabs>li>a:hover {
    border-radius: 0px;
    border: none;
    font-size: 25px;
    line-height: 25px;
    padding: 10px 55px 17px 41px;
    width: 246px;
    margin-right: 0px;
    color: #ffffff;
    background-color: #1bbc9d;
}

.modal .nav-tabs>li + li > a,.modal .nav-tabs>li + li > a:hover {
    width: 618px;
}

.modal .nav-tabs>li.active>a,.modal .nav-tabs>li.active>a:hover {
    cursor: pointer;
    border: none;
}

/* Переписываем стили табов - конец */

.remain-link {
    color: #2c3d51;
    text-decoration: none;
    display: inline-block;
    margin-left: 47%;
}

.remain-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.auth-error {
    /*background: #ffffff url("../images/fake_dark.png") no-repeat 14px 50%;*/
    background: #ffffff url("../images/icons/svg/icomoon.svg") no-repeat 14px 50% / 32px;
    background-color: #ffffff;
    width: 501px;
    height: 60px;
    display: inline-block;
    padding: 21px 14px 14px 107px;
    margin-bottom: 60px;
    text-transform: lowercase;
    text-align: left;
    font-size: 13px;
}

.message {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.message .message-row {
    display: block;
    margin-bottom: 21px;
    font-size: 16px;
}

.center-button {
    width: 100%;
    height: 50px;
    text-transform: uppercase;
}

.payment-block {
    width: 247px;
    height: 112px;
    display: inline-block;
    background-color: #cccccc;
    margin-right: 28px;
}

#card_payment, #balance_payment {
    display: inline-block;
}

.payment-block.card#textinside {
    background: #ffffff url("../../images/logo.gif") no-repeat center 50%;
}

.payment-block.balance#textinside {
    background: #ffffff url("../../images/balance.gif") no-repeat center 50%;
}

.payment-block#textinside:hover {
    cursor: pointer;
    border: 1px solid #000000;
}

.big-next-button {
    width: 100%;
    height: 39px;
   /* margin-top: 30px;*/
    text-transform: uppercase;
    margin-bottom: 30px;
}

.zh_message-body {
	width:750px;
	height:200px;
	clear:both;
}

#zh_message {
	width:750px;
	clear:both;
}

#zh_mail {
}

.zh_payment {
	width:100%;
	clear:both;
}

.zh_checkNumber {
	width:350px;
	height:40px;
}

.zh_button-row {}

.zh_hover-green {
	padding:20px 60px;
	margin-right:30px;
}
.deals-dialog-img {
	margin-top:30px;
	width:800px;
}

.job-content-modal {
    width: 100%;
	padding-bottom:100px;
}

.vacbut {
    color: #ffffff;
    display: block;
    background-color: #1bbc9d;
    padding: 20px 19px 15px 19px;
}

.vacantbody {
    text-align: justify;
	margin-top:-10px;
    padding: 15px 30px;
	background:#fff;
}
.one_deal {
	position:relative !important;
}
.one_deal:hover .deals-dialog-description {
	opacity:1;
}
.deals-dialog-description {
	position:absolute !important;
	bottom:0 !important;
	background:rgba(44, 61, 79, 0.9);;
	color:#FFFFFF;
	padding:30px;
	font-size:14px;
	text-align:justify;
	width:800px;
	opacity:0;
	-webkit-transition: opacity 0.3s ease-out 0.1s;
    -moz-transition: opacity 0.3s ease-out 0.1s;
    -o-transition: opacity 0.3s ease-out 0.1s;
    transition: opacity 0.3s ease-out 0.1s;
}
.deals-dialog-name {
	font-size:16px;
	font-weight:bold;
	padding-bottom:10px;
}
.deals-dialog-text {
}