@font-face{
    font-family: 'wf_SegoeUISemilight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.eot?#iefix') format('embedded-opentype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.woff') format('woff'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.ttf') format('truetype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUIItalic';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Italic/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Italic/latest.eot?#iefix') format('embedded-opentype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Italic/latest.woff') format('woff'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Italic/latest.ttf') format('truetype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Italic/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    background-color: #ffffff;
    width: 100%;
    color: #2c3d51;
    font-size: 12px;
    font-family: "wf_SegoeUISemilight";
}

.row {
    width: 100%;
    margin: 0px;
}

div.span1, div.span2, div.span3, div.span4, div.span5, div.span6, div.span7, div.span8, div.span9, div.span10, div.span11, div.span12  {
    margin-left: 0px !important;
}

.span12 {
    width: 1400px !important;
    padding: 0px;
    float: none;
    display: inline-block;
    text-align: left;
}

.span12.small-span {
    width: 930px;
}

.span6 {
    width: 50%;
    float: left;
}

.span6.morespan {
    width: 55%;
}

.span6.lessspan {
    width: 45%;
}

.center-content {
    text-align: center;
}

.right-content {
    text-align: right;
}

.row.header {
    background-color: #e2e2e2;
    padding: 6px 0px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    height: 89px;
}

.row.header .span12 {
    position: relative;
    top: -12px;
}

.row.header .span6.p-relative {
    display: inline-block;
    width: auto;
    /*float: left;*/
    position: absolute;
    top: 0px;
    left: 0px;
}

.row.header .span6 {
    display: inline-block;
    width: auto;
    /*float: right;*/
    position: absolute;
    top: 0px;
    right: 0px;
}

.row.search {
    margin-top: 50px;
}

.row.search .span12.searchform {
    display: inline-block;
    float: left;
}

.row.search .span3.addblock {
    width: 252px;
    display: inline-block;
}

.row.search .searchform .checkbox-div {
    display: inline-block;
    margin-top: 15px;
    margin-right: 45px;
    padding-bottom: 2px;
    float: left;
}

.row.search .searchform .checkbox-div .search-rubric {
    display: inline-block;
    padding-bottom: 6px;
}

.row.search .searchform .checkbox-div .search-rubric.single-rubric {
    padding: 0px 10px 6px 10px;
    margin-left: 10px;
}

.row.search .searchform .checkbox-div .search-rubric:hover {
    padding-bottom: 5px;
    cursor: pointer;
}

.row.search .searchform .checkbox-div .search-rubric.all-rubrics:hover {
    border-bottom: 1px solid #4e8fc7;
}

.row.search .searchform .checkbox-div .search-rubric.single-rubric:hover {
    border-bottom: 1px solid #858484;
}

span.car-bg, span.bag-bg, span.allrubrics-bg {
    display: inline-block;
    width: 17px;
    height: 16px;
    vertical-align: sub;
    margin-right: 6px;
}

.allrubrics-bg {
    background: url("../images/allrubrics.png") no-repeat left;
}

span.car-bg {
    background: url("../images/car.png") no-repeat left;
}

span.bag-bg {
    background: url("../images/bag.png") no-repeat left;
}

.row.search .searchform .checkbox label {
    color: #030d18;
    font-size: 12px;
}

.row.header, .row.search, .row.headings, .row.footer, .row.news, .row.deals {
    min-width: 980px;
}

.row.news {
    text-align: center;
    background: #ededed url("../images/news_bg.png") bottom repeat-x;
    padding-bottom: 5px;
}

.row.news .span12 {
    width: 100%;
    /*background: #ededed;*/
    /*padding: 30px;*/
}

.row.rubrics {
    margin-top: 46px;
}

.row.deals {
    margin-top: 32px;
}

.row.map {
    margin-top: 32px;
}

.row.registration, .row.application {
    margin-top: 47px;
}

.row.infosmart-adv {
    margin-top: 97px;
    margin-bottom: 40px;
    padding-top: 33px;
    background: url("../images/appbg.png") top center no-repeat;
    color: 5b5b5b;
}

.row.infosmart-adv .span6.p-relative {
    display: inline-block;
    width: auto;
    float: left;
    max-width: 50%;
}

.row.infosmart-adv .span6 {
    display: inline-block;
    width: auto;
    float: right;
    max-width: 50%;
}

.row.footer {
    background: #e2e2e2 url("../images/footer_bg.png") top repeat-x;
    /*margin-top: 49px;*/
    margin-top: -96px;
    padding: 25px 20px 15px 31px;
    color: #5b5b5b;
    font-size: 12px;
    height: 96px;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    /*color: #2c3d51;*/
}

h1 {
    text-transform: uppercase;
    font-size: 29.9px;
    line-height: 28px;
    margin-top: 8px;
    font-weight: bold;
    color: #5b5b5b;
}

h2 {
    font-size: 18px;
    line-height: 18px;
}

h3 {
    font-size: 17px;
    line-height: 17px;
}

h4 {
    font-size: 17px;
    line-height: 17px;
    margin-top: 4px;
}

h1 span {
    font-weight: bold;
}

.clr {
    clear: both;
}

*:focus {
    outline: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999999;
    font-family: 'wf_SegoeUIItalic';
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999999;
    opacity:  1;
    font-family: 'wf_SegoeUIItalic';
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999999;
    opacity:  1;
    font-family: 'wf_SegoeUIItalic';
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999999;
    font-family: 'wf_SegoeUIItalic';
}

.p-relative {
    position: relative;
}

.right-span {
    text-align: right;
}

textarea{
    resize: none;
}

.table-striped > tbody > tr:nth-child(n+1) > td, .table-striped > tbody > tr:nth-child(n+1) > th {
    background-color: #def1ef;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #ffffff;
}

.registration-input {
    width: 483px;
    height: 26px;
    padding-right: 9px;
    padding-left: 9px;
}

.registration-input-small {
    width: 300px;
    height: 26px;
    padding-right: 9px;
    padding-left: 9px;
}

.registration-input-date {
    width: 142px;
    height: 26px;
    padding-right: 26px;
    padding-left: 9px;
    /*background-image: url("../images/fake.png");*/
    background-image: url("../images/icons/svg/calendar2.svg");
    background-size: 15px 16px;
    background-repeat: no-repeat;
    background-position: 94% 50%;
    border: none;
    margin-right: 24px;
}

.registration-select {
    width: 180px;
    height: 26px;
    padding-right: 9px;
    padding-left: 9px;
}

.registration-select-big {
    height: 26px;
    padding-right: 9px;
    padding-left: 9px;
    width: 483px;
}

.registration-textarea {
    width: 483px;
    height: 99px;
    padding-right: 9px;
    padding-left: 9px;
}

/*button, input[type='submit'], input[type='reset'], input[type='button'] {
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
}

a.button-style {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #099b85;
    background-color: #1bbc9d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(18, 87, 149, 1);
    color: #ffffff;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 10px;
    padding: 14px 14px 13px 14px;
}*/

th, td {
    vertical-align: top;
}

.header-block {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    clear: both;
}

#content-block {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-bottom: 96px;
}

.open-advanced {
    visibility: hidden;
}

.modal-dialog.deal-form {
    width: 864px;
}

.deal-form .modal-body {
    padding: 0px;
}

.deal-form .modal-row .span6 {
    width: 862px;
    text-align: left;
    background-color: #ffffff;
    padding: 26px 30px 30px 30px;
    /*min-height: 692px;*/
    float: none;
    display: inline-block;
    /*margin-top: 93px;*/
}

#bigMap {
    width: 100%;
    min-height: 1px;
    height: 400px;
    background: #ffffff;
}

.margin-left-none {
    margin-left: 0px !important;;
}

.position-relatives {
    position: relative;
}

.displaynone {
    display: none !important;
}