<div style="height: 6px;"></div>
<span style="padding-left:14px;"><!--new_chat_request_label--> <b><!--group_name--></b> - <!--receivers--></span><br>
<div class="TCBB">
    <table cellspacing="0" class="TCB" style="border: 0px; width:100%;">
        <tr>
            <td rowspan="15" class="TCCL"></td>
            <td style="width: 50px;" nowrap><!--name_label-->:&nbsp;&nbsp;</td>
            <td><!--user--></td>
        </tr>
        <tr>
            <td nowrap><!--email_label-->:&nbsp;&nbsp;</td>
            <td><a class="lz_chat_mail" href="mailto:<!--email-->"><!--email--></a></td>
        </tr>
        <tr>
            <td><!--company_label-->:&nbsp;&nbsp;</td>
            <td><!--company--></td>
        </tr>
        <tr>
            <td><!--phone_label-->:&nbsp;&nbsp;</td>
            <td><!--phone--></td>
        </tr>
        <tr>
            <td valign="top"><!--question_label-->:&nbsp;&nbsp;</td>
            <td><!--question--></td>
        </tr>
        <tr>
            <td valign="top"><!--chat_id_label-->:&nbsp;&nbsp;</td>
            <td><!--chat_id--></td>
        </tr>
        <!--custom_fields-->
    </table>
</div>
<br/>
