<table cellpadding="0" cellspacing="0" style="width:<!--width-->px;height:<!--height-->px;">
    <tr>
        <td style="background:url('<!--server-->templates/overlays/rounded/bbg_tl.png') no-repeat;width:5px;height:5px;"></td>
        <td style="background:white;"></td>
        <td style="background:url('<!--server-->templates/overlays/rounded/bbg_tr.png') no-repeat;width:5px;height:5px;"></td>
    </tr>
    <tr>
        <td style="background:white;"></td>
        <td style="background:white;vertical-align:top;">
            <img style="position:absolute;right:0px;top:0px;cursor:pointer;z-index:100000;"
                 src="<!--server-->templates/overlays/rounded/close.png" alt=""
                 onClick="lz_overlay_box.lz_livebox_close('lz_overlay_box');top.lz_tracking_action_result('overlay_box',false,true);"
                 width="46" height="46" border="0">
            <!--content-->
        </td>
        <td style="background:white;"></td>
    </tr>
    <tr>
        <td style="background:url('<!--server-->templates/overlays/rounded/bbg_bl.png') bottom left no-repeat;width:5px;height:5px;"></td>
        <td style="background:white;"></td>
        <td style="background:url('<!--server-->templates/overlays/rounded/bbg_br.png') bottom right no-repeat;width:5px;height:5px;"></td>
    </tr>
</table>
