<div onclick="lz_chat_change_state(true,false);" id="lz_overlay_eyecatcher" style="display:none;">
    <span id="lz_overlay_eyecatcher_close" style="right:0px;top:0px;z-index:10013;color:#757575;"
          onclick="lz_tracking_remove_eye_catcher(event, this);">x</span>
    <img id="lz_ec_image" style="width:auto;">
</div>