<div onclick="lz_chat_change_state(true,false);" id="lz_overlay_eyecatcher" style="display:none;">
    <div id="lz_ec_header_text"
         style="z-index:10003;margin-left:8px;padding:<!--header_padding-->px 0px 0px <!--header_padding-->px;font-size:20px;z-index:10003;font-weight:bold;color:<!--header_color-->;"></div>
    <div id="lz_ec_sub_header_text"
         style="width:88%;margin:0px 0px 0px 8px;opacity:0.95;z-index:10003;padding:<!--header_sub_padding-->px 0px 0px <!--header_padding-->px;font-size:14px;font-weight:normal;color:<!--header_color-->;"></div>
    <span id="lz_overlay_eyecatcher_close" style="z-index:10013;color:<!--header_color-->;"
          onclick="lz_tracking_remove_eye_catcher(event, this);">x</span>
    <canvas style="z-index:10001;" id="lz_overlay_eyecatcher_shadow" width="<!--width-->"
            height="<!--height-->"></canvas>
    <canvas style="z-index:10002;" id="lz_overlay_eyecatcher_bubble" width="<!--width-->"
            height="<!--height-->"></canvas>
</div>