<div align="center">
    <TABLE cellspacing="0" cellpadding="0" class="lz_overlay_chat_status">
        <TR>
            <TD class="lz_overlay_chat_status_inner">
                <!--message-->
            </TD>
        </TR>
    </TABLE>
</div>