<TABLE class="lz_overlay_chat_message" id="<!--id-->">
    <TR>
        <TD class="lz_overlay_chat_message_operator" style="padding:8px 8px 0 8px !important;">
            <table>
                <tr>
                    <td style="vertical-align:top;padding:4px 4px 0 0 !important;"><!--image--></td>
                    <td>&nbsp;&nbsp;</td>
                    <td><!--message--></td>
                </tr>
                <tr>
                    <td colspan="3" style=text-align:right;
                    ">
                    <input type="hidden" id="lz_chat_invite_id" value="<!--id-->">
                    <a href="javascript:lz_chat_decline_request('<!--id-->',false,true);this.blur();"
                       class="lz_decline_link lz_decline_link_frame">&nbsp;<!--lang_client_decline_invite-->&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            </table>
        </TD>
    </TR>
</TABLE>