<TABLE cellspacing="0" cellpadding="0" class="lz_overlay_chat_status">
    <TR>
        <TD class="lz_overlay_chat_status_inner">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width:52px;vertical-align:top;"><!--picture--></td>
                    <td style="width:8px;">
                    <td><!--message--></td>
                </tr>
            </table>
        </TD>
    </TR>
</TABLE>