<div align="right">
    <TABLE cellspacing="0" cellpadding="0" class="lz_overlay_chat_message">
        <TR>
            <TD style="text-align:right;padding-bottom:2px;padding-top:2px;font-weight:bold;color:<!--color-->;" nowrap>
                <div class="lz_overlay_chat_message_time"><!--time--></div>
                <!--name--></TD>
        </TR>
        <TR>
            <TD class="lz_overlay_chat_message_operator">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td><!--picture--><!--message--></td>
                    </tr>
                </table>
            </TD>
        </TR>
    </TABLE>
</div>
