<div align="right">
    <TABLE cellspacing="0" cellpadding="0" class="lz_overlay_chat_message_add">
        <TR>
            <TD class="lz_overlay_chat_message_operator"><!--message--></TD>
        </TR>
    </TABLE>
</div>