<TABLE cellspacing="0" cellpadding="0" class="lz_overlay_chat_message">
    <TR>
        <TD>
            <TABLE cellspacing="0" cellpadding="0" style="width:auto;">
                <tr>
                    <td colspan="2">
                        <div class="lz_overlay_chat_message_time"><!--time--></div>
                    </td>

                </tr>
                <TR>
                    <TD style="padding-bottom:2px;padding-top:4px;color:<!--color-->;font-weight:bold;"
                        name="lz_chat_overlay_external_name" class="operator_name"><!--name--></TD>
                    <TD>
                        <div onClick="parent.lz_chat_switch_details(false);" class="lz_overlay_chat_change">&nbsp;
                            <!--lang_client_edit--></div>
                    </TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR>
        <TD class="lz_overlay_chat_message_external">
            <!--message-->
        </TD>
    </TR>
</TABLE>
