#lz_chat_overlay_main {
    overflow: hidden;
    margin: 0;
    padding-top: 1px;
    height: 100%;
}

#lz_chat_overlay_main table, #lz_chat_overlay_main table td, #lz_chat_overlay_main table tr {
    border-collapse: separate;
    border: 0px;
}

#lz_chat_overlay_main TD a {
    cursor: pointer;
    color: #626262;
    text-decoration: underline;
    background-repeat: no-repeat;
    font-weight: normal;
    vertical-align: bottom;
}

#lz_chat_overlay_info {
    width: 100%;
    text-align: center;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 11px;
    color: #616161;
    overflow: hidden;
    padding-top: 7px;
}

#lz_chat_overlay_info * {
    font-size: 11px;
    vertical-align: bottom;
}

#lz_overlay_eyecatcher {
    width: 100%;
    height: 120px;
    text-align: left;
}

#lz_overlay_eyecatcher * {
    width: 100%;
    position: absolute;
    font-family: Arial, Verdana, sans-serif;
    cursor: pointer;
    text-align: left;
    line-height: 20px;
}

#lz_overlay_eyecatcher_close {
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    z-index: 10003;
    top: 10px;
    right: 17px;
    width: 12px;
    padding: 2px;
    text-align: center;
    border-radius: 2px;
}

#lz_overlay_eyecatcher_close:hover {
    color: #000000 !important;
    background: #FFFFFF;
    opacity: 0.4;
}

#lz_chat_overlay_options_box_bg {
    z-index: 100001;
    background: gray !important;
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border-radius: 3px;
    cursor: default;
}

#lz_chat_overlay_options_box {
    background: #f6f6f6 !important;
    padding: 2px;
    z-index: 100002;
    position: absolute;
    top: 10px;
    left: 14px;
    right: 14px;
    border-radius: 5px;
    cursor: default;
}

#lz_chat_overlay_options_box input {
    cursor: pointer;
}

#lz_chat_overlay_options_frame {
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 10px;
    height: 100%;
}

#lz_chat_overlay_ticket {
    padding: 0px;
    border-radius: 3px;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    background: #f9f9f9 !important;
    padding: 0;
    z-index: 9999;
}

#lz_chat_overlay_ticket td {
    font-size: 12px;
}

#lz_chat_overlay_text {
    text-shadow: 1px 1px 0 #6b6b6b;
    line-height: 24px;
    z-index: 100008;
    position: absolute;
    left: 7px;
    top: 0;
    width: 225px;
    height: 28px;
    font-family: Helvetica, Arial, Verdana, sans-serif !important;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#lz_chat_overlay_text:hover {
    opacity: 0.9;
}

#lz_chat_content {
    vertical-align: middle;
    padding: 6px;
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    top: 25px;
}

#lz_chat_overlay_data_form_cancel_button {
    bottom: 14px;
    left: 14px;
    right: 140px;
}

#lz_chat_overlay_data_form_ok_button {
    bottom: 14px;
    right: 14px;
    left: 135px;
}

#lz_chat_data_form {
    border-radius: 3px;
    position: absolute;
    top: 6px;
    right: 6px;
    left: 6px;
    bottom: 6px;
    z-index: 99999;
    background: #fafafa;
}

#lz_chat_data_header {
    border-radius: 3px 3px 0 0;
    margin: 0 0 10px 0;
}

#lz_chat_content_box {
    position: absolute;
    top: 6px;
    right: 6px;
    left: 6px;
    bottom: 80px;
    cursor: default;
    overflow: auto;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e2e2e2;
    text-align: left;
    overflow-x: hidden;
}

#lz_chat_text {
    resize: vertical;
    display: inline;
    width: 94% !important;
    height: 40px;
    background: #FFFFFF;
    outline: none;
    font-size: 12px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    padding: 1px;
    margin: 0px;
}

#lz_chat_ticket_received {
    text-align: center;
}

#lz_chat_queued_posts {
    font-style: italic;
    padding: 0;
    margin: 0;
}

#lz_chat_overlay_loading {
    background: #fafafa;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    position: absolute;
    z-index: 900005;
    border-radius: 6px;
}

#lz_chat_overlay_loading div {
    font-weight: bold;
    color: #6b6b6b;
    text-align: center;
    top: 50%;
    position: absolute;
    right: 6px;
    left: 6px;
    background: url('./../../../images/chat_loading.gif') no-repeat;
    background-position: 50% 20px;
    height: 40px;
    margin-top: -40px;
}

#lz_chat_waiting_messages {
    height: 24px;
    width: 25px;
    z-index: 100101;
    background: #ff6000;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 5px;
    opacity: 0.95;
    border-radius: 5px;
}

#lz_chat_waiting_message_count {
    line-height: 24px;
    text-align: center;
    width: 25px;
    height: 100%;
    z-index: 100102;
    cursor: pointer;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
}

#lz_chat_state_change {
    position: absolute;
    top: 0px;
    z-index: 100009;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 10px;
    width: 12px;
    position: absolute;
    right: 15px;
    top: 3px;
}

#lz_chat_minimize {
    z-index: 100008;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 25px;
}

#lz_chat_minimize:hover {
    opacity: 0.4;
}

#lz_chat_cl {
    color: inherit !important;
    text-decoration: none !important;
    background: none !important;
    font-weight: bold !important;
}

#lz_chat_cl:hover {
    color: #FFF !important;
}

#lz_chat_data_form_header_title {
    font-weight: bold;
    padding: 3px 2px 3px 55px;
    background-position: left 4px;
    background-repeat: no-repeat;
}

#lz_chat_state_bar {
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    display: none;
    background: #fffff1;
    padding: 3px 3px 4px 0px;
    text-align: right;
    height: 16px;
}

#lz_chat_overlay_option_title {
    text-shadow: 1px 1px 0 #868686;
    top: 7px;
    left: 7px;
    right: 7px;
    font-weight: bold;
    text-overflow: ellipsis;
    text-align: center;
    color: #FFFFFF;
    padding: 3px;
    margin: 2px;
    border-radius: 2px;
    white-space: nowrap;
    height: 20px;
    line-height: 20px;
}

.lz_chat_base * {
    color: #131313;
    box-sizing: content-box;
    letter-spacing: normal;
    line-height: normal;
    background: none;
    border: 0px;
    vertical-align: middle;
    min-height: 0px;
    width: auto;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.lz_chat_base *:focus {
    box-shadow: none;
}

.lz_chat_overlay_text {
    color: #000000 !important;
    cursor: text !important;
    width: 235px !important;
    font-size: 12px !important;
    margin: 3px 0 5px 0 !important;
    padding: 2px 0 1px 2px !important;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
    border: 1px solid #bfbfbf !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #FFFFFF !important;
}

.lz_chat_overlay_options_box_base {
    font-size: 12px;
    position: absolute;
    height: 26px;
}

.lz_chat_overlay_options_text {
    width: 200px !important;
}

.lz_chat_overlay_options_group {
    right: 10px;
    left: 10px;
    background: #ebebeb;
    border-radius: 3px;
}

.lz_chat_overlay_options_function {
    font-weight: bold;
    cursor: pointer;
    width: 160px;
    height: 17px;
    line-height: 15px;
    margin: 4px 5px 0 -1px;
    border: 0
}

.lz_chat_overlay_options_options_box {
    width: 90% !important;
    margin: 5px 0 0 0;
}

.lz_chat_content_table {
    bottom: 60px;
    border: 0 !important;
    background: #fafafa;
    border-radius: 3px;
    height: 100%;
}

.lz_chat_content_table td, .lz_chat_content_table th {
    padding: 0;
    border: 0;
    text-align: left;
    background: none;
}

.lz_chat_content_table tr {
    background: none;
    border: 0 !important;
}

.lz_chat_content_table table {
    margin: 0;
    border: 0 !important;
}

.lz_chat_data_form_header {
    border-bottom: 1px solid #cdcdcd;
    background: #fcfcfc !important;
    padding: 6px 12px 8px 12px;
}

.lz_chat_data_form_header div {
    background-color: #fcfcfc !important;
    line-height: 14px;
}

.lz_chat_data_form_header * {
    color: #000000;
}

.lz_chat_bot_resource {
    margin: 6px 0 0 0 !important;
    padding: 2px 0 2px 0 !important;
}

.lz_chat_bot_resource li {
    border-radius: 2px;
    padding: 5px 10px !important;
    margin: 0 0 7px 0 !important;
    background: #feffe0;
    list-style-type: none;
}

.lz_overlay_chat_operator_picture {
    border-radius: 3px;
    float: right;
    margin: 3px;
}

.lz_overlay_chat_caption {
    font-size: 12px;
    color: #757575;
}

.lz_overlay_chat_required {
    color: #ff7800;
    font-size: 11px !important;
    padding: 0 0 0 5px !important;
    font-weight: bold;
}

.lz_overlay_chat_change {
    color: #838383;
    font-size: 10px !important;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
    margin-bottom: 5px !important;
}

.lz_overlay_chat_status {
    margin: 10px 8px 0 8px !important;
    width: 94%;
}

.lz_overlay_chat_status_inner {
    border: 1px solid #e1e1e1 !important;
    background: #f7f7f7 !important;
    padding: 6px !important;
    border-radius: 3px;
    font-size: 12px !important;
    color: #000000;
}

.lz_overlay_chat_status_inner * {
    background: #f7f7f7 !important;
    vertical-align: top !important;
    color: #000000;
}

.lz_overlay_chat_status_inner b {
    background: transparent !important;
    font-size: 12px !important;
}

.lz_overlay_chat_ticket_response {
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 60px;
}

.lz_overlay_chat_message {
    padding: 0;
    margin: 14px 8px 4px 8px !important;
}

.lz_overlay_chat_message td {
    font-size: 12px;
    line-height: 14px;
    color: #000;
}

.lz_overlay_chat_message_add {
    margin: 0 8px 4px 8px !important;
}

.lz_overlay_chat_message_add td {
    font-size: 12px;
    line-height: 13px;
    color: #000 !important;
}

.lz_overlay_chat_message_operator {
    background: #FFF !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 6px;
    padding: 7px 10px !important;
    border-top-right-radius: 0px !important;
}

.lz_overlay_chat_message_operator * {
    vertical-align: top !important;
    line-height: 14px;
}

.lz_overlay_chat_message_external {
    background: #ededed !important;
    border-radius: 6px;
    padding: 7px !important;
    border-top-left-radius: 0px !important;
}

.lz_overlay_chat_message_time {
    font-size: 10px;
    color: gray;
    font-weight: bold;
}

.lz_overlay_translation {
    margin: 2px 0 4px 5px;
    color: #666666;
    font-style: italic;
}

.lz_overlay_chat_options_link {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 1px 1px 0 #6b6b6b;
}

.lz_overlay_chat_options_link:hover {
    color: #EEEEEE;
}

.lz_overlay_chat_options_footer * {
    vertical-align: middle;
}

.lz_overlay_chat_footer td {
    height: 28px;
    padding: 0 12px 1px 2px !important;
}

.lz_overlay_chat_button {
    text-align: center;
    border-radius: 4px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    background: #878787;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 3px;
    height: 16px;
    white-space: nowrap;
}

.lz_overlay_chat_button:hover {
    opacity: 0.9;
}

.lz_overlay_chat_gradient {
    height: 25px;
    width: 100%;
}

.lz_input {
    min-width: 80px;
    padding: 0 14px 0 12px !important;
}

.lz_form_base {
    border-radius: 2px;
    border: 1px solid #9d9d9d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.lz_form_field {
    font-size: 12px;
    white-space: nowrap;
    width: 30%;
    min-width: 70px;
    max-width: 200px;
    margin: 0 5px 5px 5px;
    height: 25px;
    border-right: 5px solid #FFF;
    border-radius: 5px;
    text-align: right !important;
    padding: 3px 10px 3px 0px !important;
}

.lz_form_box {
    box-sizing: border-box;
    background: #FFFFFF;
    padding: 1px 0 1px 3px;
    border: 1px solid #9f9f9f;
    width: 100%;
    height: 23px;
}

.lz_form_area {
    resize: vertical;
    background: #FFFFFF;
    padding: 1px 0 1px 3px;
    margin: 3px 0 3px 0;
    width: 100%;
    height: 110px;
}

.lz_form_check {
    padding: 0px;
    margin: 0px;
}

.lz_form_file {
    width: 100%;
}

.lz_form_select {
    color: #000000;
    height: 23px;
    padding: 2px;
}

.lz_form_info_box {
    display: none;
    margin: 0;
    text-align: left;
    color: #333333;
    z-index: 4900;
    left: 10px;
    width: 200px;
    position: absolute;
    padding: 7px;
    background: #fffdcf;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #a9a9a9;
}

.lz_form_info_box * {
    vertical-align: top;
}

.lz_input_icon {
    width: 25px;
    height: 16px;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    background-position: right;
}

.lz_form_icon {
    width: 1px;
    padding: 0;
}

.lz_required {
    background-image: url('./../../../images/lz_icon_required.png');
}

.lz_info {
    background-image: url('./../../../images/lz_icon_info.png');
}

.lz_chat_status_online {
    background-image: url('./../../../images/lz_status_online.png');
}

.lz_chat_status_offline {
    background-image: url('./../../../images/lz_status_offline.png');
}

.lz_decline_link {
    padding: 2px 5px 2px 22px !important;
    color: #5d5d5d;
    text-decoration: none !important;
    background-image: url('./images/lz_chat_stop.png') !important;
    background-repeat: no-repeat !important;
    background-position: 6px 50% !important;
    border-radius: 2px;
}

.lz_decline_link:hover {
    background: #eeeeee;
}

.lz_decline_link_frame {
    line-height: 38px;
    background-color: #f2f2f2 !important;
}

.lz_anim_hs {
    animation: lz_anim_hs 1s;
    -webkit-animation: lz_anim_hs 1s;
}

.unmovable {
    cursor: default;
    padding: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes lz_anim_hs {
    0% {
        margin-right: 4px;
    }
    10% {
        margin-right: 8px;
    }
    20% {
        margin-right: -8px;
    }
    30% {
        margin-right: 8px;
    }
    60% {
        margin-right: -8px;
    }
    100% {
        margin-right: 0px;
    }
}

@-webkit-keyframes lz_anim_hs {
    0% {
        margin-right: 4px;
    }
    10% {
        margin-right: 8px;
    }
    20% {
        margin-right: -8px;
    }
    30% {
        margin-right: 8px;
    }
    60% {
        margin-right: -8px;
    }
    100% {
        margin-right: 0px;
    }
}